In [1]:
import polars as pl

In [3]:
!wget "https://drive.google.com/uc?export=download&id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W" -O titanic.csv

--2024-10-22 04:41:21--  https://drive.google.com/uc?export=download&id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W
Resolving drive.google.com (drive.google.com)... 142.250.207.14, 2404:6800:4004:823::200e
Connecting to drive.google.com (drive.google.com)|142.250.207.14|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W&export=download [following]
--2024-10-22 04:41:22--  https://drive.usercontent.google.com/download?id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 216.58.220.129, 2404:6800:4004:811::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|216.58.220.129|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 116752 (114K) [application/octet-stream]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>] 114.02K  --.-KB/s    in 0.09s

2024-10-22 04:41:25 (1.19 MB/s) - ‘titanic.csv’ saved [116752/116752]

In [4]:
df = pl.read_csv('titanic.csv')
df.write_csv('titanic.tsv', separator='\t')

In [5]:
df.sort('age')

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 0        ┆ Baumann, Mr. John  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY      │
│        ┆          ┆ D                  ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Bradley, Mr.       ┆ male   ┆ … ┆ S        ┆ 9    ┆ null ┆ Los Angeles, CA   │
│        ┆          ┆ George ("George A… ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Brewe, Dr. Arthur  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ Philadelphia, PA  │
│        ┆          ┆ Jackson            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Cairns, Mr.        ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Alexander          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Cassebeer, Mrs.    ┆ female ┆ … ┆ C        ┆ 5    ┆ null ┆ New York, NY      │
│        ┆          ┆ Henry Arthur J…    ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 1      ┆ 0        ┆ Artagaveytia, Mr.  ┆ male   ┆ … ┆ C        ┆ null ┆ 22   ┆ Montevideo,       │
│        ┆          ┆ Ramon              ┆        ┆   ┆          ┆      ┆      ┆ Uruguay           │
│ 1      ┆ 0        ┆ Goldschmidt, Mr.   ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ New York, NY      │
│        ┆          ┆ George B           ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Svensson, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Johan              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Cavendish, Mrs.    ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ Little Onn Hall,  │
│        ┆          ┆ Tyrell William…    ┆        ┆   ┆          ┆      ┆      ┆ Staffs            │
│ 1      ┆ 1        ┆ Barkworth, Mr.     ┆ male   ┆ … ┆ S        ┆ B    ┆ null ┆ Hessle, Yorks     │
│        ┆          ┆ Algernon Henry …   ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [6]:
df.sort('age', nulls_last=True)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 3      ┆ 1        ┆ Dean, Miss.        ┆ female ┆ … ┆ S        ┆ 10   ┆ null ┆ Devon, England    │
│        ┆          ┆ Elizabeth Gladys   ┆        ┆   ┆          ┆      ┆      ┆ Wichita, KS       │
│        ┆          ┆ "…                 ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Danbom, Master.    ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Stanton, IA       │
│        ┆          ┆ Gilbert Sigvar…    ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 1        ┆ Thomas, Master.    ┆ male   ┆ … ┆ C        ┆ 16   ┆ null ┆ null              │
│        ┆          ┆ Assad Alexande…    ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 1        ┆ Hamalainen,        ┆ male   ┆ … ┆ S        ┆ 4    ┆ null ┆ Detroit, MI       │
│        ┆          ┆ Master. Viljo      ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 1        ┆ Baclini, Miss.     ┆ female ┆ … ┆ C        ┆ C    ┆ null ┆ Syria New York,   │
│        ┆          ┆ Eugenie            ┆        ┆   ┆          ┆      ┆      ┆ NY                │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Williams, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Howard Hugh "Har…  ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Wiseman, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Phillippe          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Yousif, Mr. Wazli  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│ 3      ┆ 0        ┆ Yousseff, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Gerious            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [10]:
df.sort('age', descending=True, nulls_last=True)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Barkworth, Mr.     ┆ male   ┆ … ┆ S        ┆ B    ┆ null ┆ Hessle, Yorks     │
│        ┆          ┆ Algernon Henry …   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Cavendish, Mrs.    ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ Little Onn Hall,  │
│        ┆          ┆ Tyrell William…    ┆        ┆   ┆          ┆      ┆      ┆ Staffs            │
│ 3      ┆ 0        ┆ Svensson, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Johan              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Artagaveytia, Mr.  ┆ male   ┆ … ┆ C        ┆ null ┆ 22   ┆ Montevideo,       │
│        ┆          ┆ Ramon              ┆        ┆   ┆          ┆      ┆      ┆ Uruguay           │
│ 1      ┆ 0        ┆ Goldschmidt, Mr.   ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ New York, NY      │
│        ┆          ┆ George B           ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Williams, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Howard Hugh "Har…  ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Wiseman, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Phillippe          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Yousif, Mr. Wazli  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│ 3      ┆ 0        ┆ Yousseff, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Gerious            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘