In [1]:
!wget "https://drive.google.com/uc?export=download&id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W" -O titanic.csv
!wget "https://drive.google.com/uc?export=download&id=1MAON4qhxUPv-0Jtv_V6VmJNtUWk2wm3w" -O books.csv
!wget "https://drive.google.com/uc?export=download&id=1r2XlCRkzsT3nG3FCW23nCsRtJgKxBSYc" -O loan_records.csv
!wget "https://drive.google.com/uc?export=download&id=1Ng04xA7R--eoP3yZSeEBrChGDQjv6yVm" -O seminar_survey.csv
!wget "https://drive.google.com/uc?export=download&id=1TZOQWNa7wUcHHM95Fc9d8i4VQbo0LnrZ" -O titanic_column_ja.csv
!wget "https://drive.google.com/uc?export=download&id=1vUwYNObfI_VH9LzQWBRtOOMGfmqkAIiV" -O titanic_ex_col.csv
!wget "https://drive.google.com/uc?export=download&id=1Gw56SPR0kZav99ht8n8aAZwRgcRXJ4qD" -O titanic_ex.csv

--2024-10-22 09:39:03--  https://drive.google.com/uc?export=download&id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W
Resolving drive.google.com (drive.google.com)... 142.250.199.110, 2404:6800:4004:80a::200e
Connecting to drive.google.com (drive.google.com)|142.250.199.110|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W&export=download [following]
--2024-10-22 09:39:04--  https://drive.usercontent.google.com/download?id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.1, 2404:6800:4004:828::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 116752 (114K) [application/octet-stream]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>] 114.02K  --.-KB/s    in 0.1s

2024-10-22 09:39:06 (856 KB/s) - ‘titanic.csv’ saved [116752/116752]

--2024-10-22 09:39:06--  https://drive.google.com/uc?export=download&id=1MAON4qhxUPv-0Jtv_V6VmJNtUWk2wm3w
Resolving drive.google.com (drive.google.com)... 142.250.199.110, 2404:6800:4004:80a::200e
Connecting to drive.google.com (drive.google.com)|142.250.199.110|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1MAON4qhxUPv-0Jtv_V6VmJNtUWk2wm3w&export=download [following]
--2024-10-22 09:39:07--  https://drive.usercontent.google.com/download?id=1MAON4qhxUPv-0Jtv_V6VmJNtUWk2wm3w&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.1, 2404:6800:4004:828::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4019 (3.9K) [application/octet-stream]
Saving to: ‘books.csv’

books.csv           100%[===================>]   3.92K  --.-KB/s    in 0s

2024-10-22 09:39:09 (122 MB/s) - ‘books.csv’ saved [4019/4019]

--2024-10-22 09:39:09--  https://drive.google.com/uc?export=download&id=1r2XlCRkzsT3nG3FCW23nCsRtJgKxBSYc
Resolving drive.google.com (drive.google.com)... 142.250.199.110, 2404:6800:4004:80a::200e
Connecting to drive.google.com (drive.google.com)|142.250.199.110|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1r2XlCRkzsT3nG3FCW23nCsRtJgKxBSYc&export=download [following]
--2024-10-22 09:39:10--  https://drive.usercontent.google.com/download?id=1r2XlCRkzsT3nG3FCW23nCsRtJgKxBSYc&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.1, 2404:6800:4004:828::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9486 (9.3K) [application/octet-stream]
Saving to: ‘loan_records.csv’

loan_records.csv    100%[===================>]   9.26K  --.-KB/s    in 0.002s

2024-10-22 09:39:12 (3.81 MB/s) - ‘loan_records.csv’ saved [9486/9486]

--2024-10-22 09:39:12--  https://drive.google.com/uc?export=download&id=1Ng04xA7R--eoP3yZSeEBrChGDQjv6yVm
Resolving drive.google.com (drive.google.com)... 142.250.199.110, 2404:6800:4004:80a::200e
Connecting to drive.google.com (drive.google.com)|142.250.199.110|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1Ng04xA7R--eoP3yZSeEBrChGDQjv6yVm&export=download [following]
--2024-10-22 09:39:12--  https://drive.usercontent.google.com/download?id=1Ng04xA7R--eoP3yZSeEBrChGDQjv6yVm&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.1, 2404:6800:4004:828::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1752 (1.7K) [application/octet-stream]
Saving to: ‘seminar_survey.csv’

seminar_survey.csv  100%[===================>]   1.71K  --.-KB/s    in 0s

2024-10-22 09:39:15 (41.9 MB/s) - ‘seminar_survey.csv’ saved [1752/1752]

--2024-10-22 09:39:15--  https://drive.google.com/uc?export=download&id=1TZOQWNa7wUcHHM95Fc9d8i4VQbo0LnrZ
Resolving drive.google.com (drive.google.com)... 142.250.199.110, 2404:6800:4004:80a::200e
Connecting to drive.google.com (drive.google.com)|142.250.199.110|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1TZOQWNa7wUcHHM95Fc9d8i4VQbo0LnrZ&export=download [following]
--2024-10-22 09:39:15--  https://drive.usercontent.google.com/download?id=1TZOQWNa7wUcHHM95Fc9d8i4VQbo0LnrZ&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.1, 2404:6800:4004:828::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 107022 (105K) [application/octet-stream]
Saving to: ‘titanic_column_ja.csv’

titanic_column_ja.c 100%[===================>] 104.51K  --.-KB/s    in 0.08s

2024-10-22 09:39:18 (1.25 MB/s) - ‘titanic_column_ja.csv’ saved [107022/107022]

--2024-10-22 09:39:18--  https://drive.google.com/uc?export=download&id=1vUwYNObfI_VH9LzQWBRtOOMGfmqkAIiV
Resolving drive.google.com (drive.google.com)... 142.250.199.110, 2404:6800:4004:80a::200e
Connecting to drive.google.com (drive.google.com)|142.250.199.110|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1vUwYNObfI_VH9LzQWBRtOOMGfmqkAIiV&export=download [following]
--2024-10-22 09:39:18--  https://drive.usercontent.google.com/download?id=1vUwYNObfI_VH9LzQWBRtOOMGfmqkAIiV&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.1, 2404:6800:4004:813::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9177 (9.0K) [application/octet-stream]
Saving to: ‘titanic_ex_col.csv’

titanic_ex_col.csv  100%[===================>]   8.96K  --.-KB/s    in 0s

2024-10-22 09:39:21 (18.9 MB/s) - ‘titanic_ex_col.csv’ saved [9177/9177]

--2024-10-22 09:39:21--  https://drive.google.com/uc?export=download&id=1Gw56SPR0kZav99ht8n8aAZwRgcRXJ4qD
Resolving drive.google.com (drive.google.com)... 142.250.199.110, 2404:6800:4004:80a::200e
Connecting to drive.google.com (drive.google.com)|142.250.199.110|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1Gw56SPR0kZav99ht8n8aAZwRgcRXJ4qD&export=download [following]
--2024-10-22 09:39:21--  https://drive.usercontent.google.com/download?id=1Gw56SPR0kZav99ht8n8aAZwRgcRXJ4qD&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.207.1, 2404:6800:4004:813::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.207.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 106924 (104K) [application/octet-stream]
Saving to: ‘titanic_ex.csv’

titanic_ex.csv      100%[===================>] 104.42K  --.-KB/s    in 0.1s

2024-10-22 09:39:24 (958 KB/s) - ‘titanic_ex.csv’ saved [106924/106924]

In [2]:
import polars as pl

In [3]:
df = pl.read_csv('titanic.csv')
df

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [4]:
df.with_columns(
    pl.col('fare') * 10_000
)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [5]:
df.with_columns(
    pl.col('age').round().cast(pl.Int64),
    pl.col('fare').round().cast(pl.Int64)
)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [6]:
df.with_columns(
    (pl.col('sibsp') + pl.col('parch')).alias('family_size')
)

shape: (1_309, 15)
┌────────┬──────────┬──────────────────┬────────┬───┬──────┬──────┬──────────────────┬─────────────┐
│ pclass ┆ survived ┆ name             ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest        ┆ family_size │
│ ---    ┆ ---      ┆ ---              ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---              ┆ ---         │
│ i64    ┆ i64      ┆ str              ┆ str    ┆   ┆ str  ┆ i64  ┆ str              ┆ i64         │
╞════════╪══════════╪══════════════════╪════════╪═══╪══════╪══════╪══════════════════╪═════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.     ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO     ┆ 0           │
│        ┆          ┆ Elisabeth Walton ┆        ┆   ┆      ┆      ┆                  ┆             │
│ 1      ┆ 1        ┆ Allison, Master. ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ /   ┆ 3           │
│        ┆          ┆ Hudson Trevor    ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆             │
│ 1      ┆ 0        ┆ Allison, Miss.   ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /   ┆ 3           │
│        ┆          ┆ Helen Loraine    ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆             │
│ 1      ┆ 0        ┆ Allison, Mr.     ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ /   ┆ 3           │
│        ┆          ┆ Hudson Joshua    ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆             │
│        ┆          ┆ Cre…             ┆        ┆   ┆      ┆      ┆                  ┆             │
│ 1      ┆ 0        ┆ Allison, Mrs.    ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /   ┆ 3           │
│        ┆          ┆ Hudson J C       ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆             │
│        ┆          ┆ (Bess…           ┆        ┆   ┆      ┆      ┆                  ┆             │
│ …      ┆ …        ┆ …                ┆ …      ┆ … ┆ …    ┆ …    ┆ …                ┆ …           │
│ 3      ┆ 0        ┆ Zabour, Miss.    ┆ female ┆ … ┆ null ┆ 328  ┆ null             ┆ 1           │
│        ┆          ┆ Hileni           ┆        ┆   ┆      ┆      ┆                  ┆             │
│ 3      ┆ 0        ┆ Zabour, Miss.    ┆ female ┆ … ┆ null ┆ null ┆ null             ┆ 1           │
│        ┆          ┆ Thamine          ┆        ┆   ┆      ┆      ┆                  ┆             │
│ 3      ┆ 0        ┆ Zakarian, Mr.    ┆ male   ┆ … ┆ null ┆ 304  ┆ null             ┆ 0           │
│        ┆          ┆ Mapriededer      ┆        ┆   ┆      ┆      ┆                  ┆             │
│ 3      ┆ 0        ┆ Zakarian, Mr.    ┆ male   ┆ … ┆ null ┆ null ┆ null             ┆ 0           │
│        ┆          ┆ Ortin            ┆        ┆   ┆      ┆      ┆                  ┆             │
│ 3      ┆ 0        ┆ Zimmerman, Mr.   ┆ male   ┆ … ┆ null ┆ null ┆ null             ┆ 0           │
│        ┆          ┆ Leo              ┆        ┆   ┆      ┆      ┆                  ┆             │
└────────┴──────────┴──────────────────┴────────┴───┴──────┴──────┴──────────────────┴─────────────┘

In [7]:
df.with_columns(
    pl.lit('titanic').alias('ship_name')
)

shape: (1_309, 15)
┌────────┬──────────┬───────────────────┬────────┬───┬──────┬──────┬───────────────────┬───────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest         ┆ ship_name │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---               ┆ ---       │
│ i64    ┆ i64      ┆ str               ┆ str    ┆   ┆ str  ┆ i64  ┆ str               ┆ str       │
╞════════╪══════════╪═══════════════════╪════════╪═══╪══════╪══════╪═══════════════════╪═══════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO      ┆ titanic   │
│        ┆          ┆ Elisabeth Walton  ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ /    ┆ titanic   │
│        ┆          ┆ Hudson Trevor     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ titanic   │
│        ┆          ┆ Helen Loraine     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ /    ┆ titanic   │
│        ┆          ┆ Hudson Joshua     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│        ┆          ┆ Cre…              ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 0        ┆ Allison, Mrs.     ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ titanic   │
│        ┆          ┆ Hudson J C (Bess… ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ …      ┆ …        ┆ …                 ┆ …      ┆ … ┆ …    ┆ …    ┆ …                 ┆ …         │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ 328  ┆ null              ┆ titanic   │
│        ┆          ┆ Hileni            ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ null ┆ null              ┆ titanic   │
│        ┆          ┆ Thamine           ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ 304  ┆ null              ┆ titanic   │
│        ┆          ┆ Mapriededer       ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ titanic   │
│        ┆          ┆ Ortin             ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zimmerman, Mr.    ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ titanic   │
│        ┆          ┆ Leo               ┆        ┆   ┆      ┆      ┆                   ┆           │
└────────┴──────────┴───────────────────┴────────┴───┴──────┴──────┴───────────────────┴───────────┘

In [8]:
import numpy as np

df.with_columns(
    pl.Series(np.random.rand(df.height)).alias('random')
)

shape: (1_309, 15)
┌────────┬──────────┬────────────────────┬────────┬───┬──────┬──────┬───────────────────┬──────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest         ┆ random   │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---               ┆ ---      │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str  ┆ i64  ┆ str               ┆ f64      │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════╪══════╪═══════════════════╪══════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO      ┆ 0.411162 │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆      ┆      ┆                   ┆          │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ /    ┆ 0.339591 │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆          │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ 0.05099  │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆          │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ /    ┆ 0.177938 │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆          │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ 0.822673 │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆          │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …    ┆ …    ┆ …                 ┆ …        │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ null ┆ 328  ┆ null              ┆ 0.680028 │
│        ┆          ┆ Hileni             ┆        ┆   ┆      ┆      ┆                   ┆          │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ null ┆ null ┆ null              ┆ 0.768224 │
│        ┆          ┆ Thamine            ┆        ┆   ┆      ┆      ┆                   ┆          │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ null ┆ 304  ┆ null              ┆ 0.236107 │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆      ┆      ┆                   ┆          │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ 0.795088 │
│        ┆          ┆ Ortin              ┆        ┆   ┆      ┆      ┆                   ┆          │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ 0.062629 │
└────────┴──────────┴────────────────────┴────────┴───┴──────┴──────┴───────────────────┴──────────┘

In [9]:
df.with_columns(
    pl.when(pl.col('age') < 20)
    .then(pl.lit('child'))
    .otherwise(pl.lit('adult'))
    .alias('age_group')
)

shape: (1_309, 15)
┌────────┬──────────┬───────────────────┬────────┬───┬──────┬──────┬───────────────────┬───────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest         ┆ age_group │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---               ┆ ---       │
│ i64    ┆ i64      ┆ str               ┆ str    ┆   ┆ str  ┆ i64  ┆ str               ┆ str       │
╞════════╪══════════╪═══════════════════╪════════╪═══╪══════╪══════╪═══════════════════╪═══════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO      ┆ adult     │
│        ┆          ┆ Elisabeth Walton  ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ /    ┆ child     │
│        ┆          ┆ Hudson Trevor     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ child     │
│        ┆          ┆ Helen Loraine     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ /    ┆ adult     │
│        ┆          ┆ Hudson Joshua     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│        ┆          ┆ Cre…              ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 0        ┆ Allison, Mrs.     ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ adult     │
│        ┆          ┆ Hudson J C (Bess… ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ …      ┆ …        ┆ …                 ┆ …      ┆ … ┆ …    ┆ …    ┆ …                 ┆ …         │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ 328  ┆ null              ┆ child     │
│        ┆          ┆ Hileni            ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ null ┆ null              ┆ adult     │
│        ┆          ┆ Thamine           ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ 304  ┆ null              ┆ adult     │
│        ┆          ┆ Mapriededer       ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ adult     │
│        ┆          ┆ Ortin             ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zimmerman, Mr.    ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ adult     │
│        ┆          ┆ Leo               ┆        ┆   ┆      ┆      ┆                   ┆           │
└────────┴──────────┴───────────────────┴────────┴───┴──────┴──────┴───────────────────┴───────────┘

In [10]:
df.with_columns(
    pl.when(pl.col('age') < 20)
    .then(pl.lit('child'))
    .when(pl.col('age') < 60)
    .then(pl.lit('adult'))
    .otherwise(pl.lit('senior'))
    .alias('age_group')
).filter(pl.col('age_group') == 'senior')

shape: (303, 15)
┌────────┬──────────┬───────────────────┬────────┬───┬──────┬──────┬───────────────────┬───────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest         ┆ age_group │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---               ┆ ---       │
│ i64    ┆ i64      ┆ str               ┆ str    ┆   ┆ str  ┆ i64  ┆ str               ┆ str       │
╞════════╪══════════╪═══════════════════╪════════╪═══╪══════╪══════╪═══════════════════╪═══════════╡
│ 1      ┆ 1        ┆ Andrews, Miss.    ┆ female ┆ … ┆ 10   ┆ null ┆ Hudson, NY        ┆ senior    │
│        ┆          ┆ Kornelia Theodo…  ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 0        ┆ Artagaveytia, Mr. ┆ male   ┆ … ┆ null ┆ 22   ┆ Montevideo,       ┆ senior    │
│        ┆          ┆ Ramon             ┆        ┆   ┆      ┆      ┆ Uruguay           ┆           │
│ 1      ┆ 1        ┆ Barkworth, Mr.    ┆ male   ┆ … ┆ B    ┆ null ┆ Hessle, Yorks     ┆ senior    │
│        ┆          ┆ Algernon Henry …  ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 0        ┆ Baumann, Mr. John ┆ male   ┆ … ┆ null ┆ null ┆ New York, NY      ┆ senior    │
│        ┆          ┆ D                 ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 1        ┆ Bradley, Mr.      ┆ male   ┆ … ┆ 9    ┆ null ┆ Los Angeles, CA   ┆ senior    │
│        ┆          ┆ George ("George   ┆        ┆   ┆      ┆      ┆                   ┆           │
│        ┆          ┆ A…                ┆        ┆   ┆      ┆      ┆                   ┆           │
│ …      ┆ …        ┆ …                 ┆ …      ┆ … ┆ …    ┆ …    ┆ …                 ┆ …         │
│ 3      ┆ 0        ┆ Williams, Mr.     ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ senior    │
│        ┆          ┆ Howard Hugh "Har… ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Wiseman, Mr.      ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ senior    │
│        ┆          ┆ Phillippe         ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Yousif, Mr. Wazli ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ senior    │
│ 3      ┆ 0        ┆ Yousseff, Mr.     ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ senior    │
│        ┆          ┆ Gerious           ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ null ┆ null              ┆ senior    │
│        ┆          ┆ Thamine           ┆        ┆   ┆      ┆      ┆                   ┆           │
└────────┴──────────┴───────────────────┴────────┴───┴──────┴──────┴───────────────────┴───────────┘

In [11]:
import re
from typing import Optional

def extract_honorifics(text: str) -> Optional[str]:
    if match_result := re.search('Mr\.|Mrs\.|Ms\.|Master\.|Miss\.|Dr\.', text):
        return match_result.group(0)
    else:
        return None

df.with_columns(
    pl.col('name').map_elements(extract_honorifics, return_dtype=pl.String)
    .alias('honorifics')
)

shape: (1_309, 15)
┌────────┬──────────┬───────────────────┬────────┬───┬──────┬──────┬──────────────────┬────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest        ┆ honorifics │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---              ┆ ---        │
│ i64    ┆ i64      ┆ str               ┆ str    ┆   ┆ str  ┆ i64  ┆ str              ┆ str        │
╞════════╪══════════╪═══════════════════╪════════╪═══╪══════╪══════╪══════════════════╪════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO     ┆ Miss.      │
│        ┆          ┆ Elisabeth Walton  ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ /   ┆ Master.    │
│        ┆          ┆ Hudson Trevor     ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆            │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /   ┆ Miss.      │
│        ┆          ┆ Helen Loraine     ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆            │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ /   ┆ Mr.        │
│        ┆          ┆ Hudson Joshua     ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆            │
│        ┆          ┆ Cre…              ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 1      ┆ 0        ┆ Allison, Mrs.     ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /   ┆ Mrs.       │
│        ┆          ┆ Hudson J C (Bess… ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆            │
│ …      ┆ …        ┆ …                 ┆ …      ┆ … ┆ …    ┆ …    ┆ …                ┆ …          │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ 328  ┆ null             ┆ Miss.      │
│        ┆          ┆ Hileni            ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ null ┆ null             ┆ Miss.      │
│        ┆          ┆ Thamine           ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ 304  ┆ null             ┆ Mr.        │
│        ┆          ┆ Mapriededer       ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ null ┆ null             ┆ Mr.        │
│        ┆          ┆ Ortin             ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 3      ┆ 0        ┆ Zimmerman, Mr.    ┆ male   ┆ … ┆ null ┆ null ┆ null             ┆ Mr.        │
│        ┆          ┆ Leo               ┆        ┆   ┆      ┆      ┆                  ┆            │
└────────┴──────────┴───────────────────┴────────┴───┴──────┴──────┴──────────────────┴────────────┘

In [12]:
df.with_columns(
    pl.col('name')
    .str.extract('Mr\.|Mrs\.|Ms\.|Master\.|Miss\.|Dr\.', 0)
    .alias('honorifics')
)

shape: (1_309, 15)
┌────────┬──────────┬───────────────────┬────────┬───┬──────┬──────┬──────────────────┬────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest        ┆ honorifics │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---              ┆ ---        │
│ i64    ┆ i64      ┆ str               ┆ str    ┆   ┆ str  ┆ i64  ┆ str              ┆ str        │
╞════════╪══════════╪═══════════════════╪════════╪═══╪══════╪══════╪══════════════════╪════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO     ┆ Miss.      │
│        ┆          ┆ Elisabeth Walton  ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ /   ┆ Master.    │
│        ┆          ┆ Hudson Trevor     ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆            │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /   ┆ Miss.      │
│        ┆          ┆ Helen Loraine     ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆            │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ /   ┆ Mr.        │
│        ┆          ┆ Hudson Joshua     ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆            │
│        ┆          ┆ Cre…              ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 1      ┆ 0        ┆ Allison, Mrs.     ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /   ┆ Mrs.       │
│        ┆          ┆ Hudson J C (Bess… ┆        ┆   ┆      ┆      ┆ Chesterville, O… ┆            │
│ …      ┆ …        ┆ …                 ┆ …      ┆ … ┆ …    ┆ …    ┆ …                ┆ …          │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ 328  ┆ null             ┆ Miss.      │
│        ┆          ┆ Hileni            ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ null ┆ null             ┆ Miss.      │
│        ┆          ┆ Thamine           ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ 304  ┆ null             ┆ Mr.        │
│        ┆          ┆ Mapriededer       ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ null ┆ null             ┆ Mr.        │
│        ┆          ┆ Ortin             ┆        ┆   ┆      ┆      ┆                  ┆            │
│ 3      ┆ 0        ┆ Zimmerman, Mr.    ┆ male   ┆ … ┆ null ┆ null ┆ null             ┆ Mr.        │
│        ┆          ┆ Leo               ┆        ┆   ┆      ┆      ┆                  ┆            │
└────────┴──────────┴───────────────────┴────────┴───┴──────┴──────┴──────────────────┴────────────┘

In [13]:
df.with_columns(
    pl.col('age').fill_null(pl.col('age').median())
)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [14]:
df.select(
    pl.col('age').median()
).to_series()[0]

28.0

In [15]:
df.with_columns(
    pl.col('age').fill_null(strategy='mean')
)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [16]:
df.select(
    pl.col([pl.Int64, pl.Float64])
).to_numpy()

array([[  1.    ,   1.    ,  29.    , ...,   0.    , 211.3375,      nan],
       [  1.    ,   1.    ,   0.92  , ...,   2.    , 151.55  ,      nan],
       [  1.    ,   0.    ,   2.    , ...,   2.    , 151.55  ,      nan],
       ...,
       [  3.    ,   0.    ,  26.5   , ...,   0.    ,   7.225 , 304.    ],
       [  3.    ,   0.    ,  27.    , ...,   0.    ,   7.225 ,      nan],
       [  3.    ,   0.    ,  29.    , ...,   0.    ,   7.875 ,      nan]])

In [17]:
df.to_numpy()

array([[1, 1, 'Allen, Miss. Elisabeth Walton', ..., '2', nan,
        'St Louis, MO'],
       [1, 1, 'Allison, Master. Hudson Trevor', ..., '11', nan,
        'Montreal, PQ / Chesterville, ON'],
       [1, 0, 'Allison, Miss. Helen Loraine', ..., None, nan,
        'Montreal, PQ / Chesterville, ON'],
       ...,
       [3, 0, 'Zakarian, Mr. Mapriededer', ..., None, 304.0, None],
       [3, 0, 'Zakarian, Mr. Ortin', ..., None, nan, None],
       [3, 0, 'Zimmerman, Mr. Leo', ..., None, nan, None]], dtype=object)

In [18]:
df.get_column('age').to_numpy()

array([29.  ,  0.92,  2.  , ..., 26.5 , 27.  , 29.  ])

In [19]:
df.select(pl.col('age')).to_series().to_numpy()

array([29.  ,  0.92,  2.  , ..., 26.5 , 27.  , 29.  ])

In [20]:
df_qcut = df.with_columns(
    pl.col('age')
    .qcut(
        quantiles=[0.2, 0.4, 0.6, 0.8],
        labels=['A', 'B', 'C', 'D', 'E']
    )
    .alias('age_group')
)
df_qcut

shape: (1_309, 15)
┌────────┬──────────┬───────────────────┬────────┬───┬──────┬──────┬───────────────────┬───────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest         ┆ age_group │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---               ┆ ---       │
│ i64    ┆ i64      ┆ str               ┆ str    ┆   ┆ str  ┆ i64  ┆ str               ┆ cat       │
╞════════╪══════════╪═══════════════════╪════════╪═══╪══════╪══════╪═══════════════════╪═══════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO      ┆ C         │
│        ┆          ┆ Elisabeth Walton  ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ /    ┆ A         │
│        ┆          ┆ Hudson Trevor     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ A         │
│        ┆          ┆ Helen Loraine     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ /    ┆ C         │
│        ┆          ┆ Hudson Joshua     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│        ┆          ┆ Cre…              ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 0        ┆ Allison, Mrs.     ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ B         │
│        ┆          ┆ Hudson J C (Bess… ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ …      ┆ …        ┆ …                 ┆ …      ┆ … ┆ …    ┆ …    ┆ …                 ┆ …         │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ 328  ┆ null              ┆ A         │
│        ┆          ┆ Hileni            ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ null ┆ null              ┆ null      │
│        ┆          ┆ Thamine           ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ 304  ┆ null              ┆ C         │
│        ┆          ┆ Mapriededer       ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ C         │
│        ┆          ┆ Ortin             ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zimmerman, Mr.    ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ C         │
│        ┆          ┆ Leo               ┆        ┆   ┆      ┆      ┆                   ┆           │
└────────┴──────────┴───────────────────┴────────┴───┴──────┴──────┴───────────────────┴───────────┘

In [21]:
(
    df_qcut.select(
        pl.col('age_group').drop_nulls()
    )
    .to_series()
    .value_counts(sort=True)
    .with_columns(
        (pl.col('count') / pl.sum('count')).alias('rate')
    )
)

shape: (5, 3)
┌───────────┬───────┬──────────┐
│ age_group ┆ count ┆ rate     │
│ ---       ┆ ---   ┆ ---      │
│ cat       ┆ u32   ┆ f64      │
╞═══════════╪═══════╪══════════╡
│ A         ┆ 225   ┆ 0.215105 │
│ B         ┆ 218   ┆ 0.208413 │
│ D         ┆ 217   ┆ 0.207457 │
│ E         ┆ 195   ┆ 0.186424 │
│ C         ┆ 191   ┆ 0.1826   │
└───────────┴───────┴──────────┘

In [22]:
breaks = range(10, 100, 10)
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

df_cut = df.with_columns(
    pl.col('age')
    .cut(
        breaks=breaks,
        labels=labels
    )
    .alias('age_group')
)
df_cut

shape: (1_309, 15)
┌────────┬──────────┬───────────────────┬────────┬───┬──────┬──────┬───────────────────┬───────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest         ┆ age_group │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---               ┆ ---       │
│ i64    ┆ i64      ┆ str               ┆ str    ┆   ┆ str  ┆ i64  ┆ str               ┆ cat       │
╞════════╪══════════╪═══════════════════╪════════╪═══╪══════╪══════╪═══════════════════╪═══════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO      ┆ C         │
│        ┆          ┆ Elisabeth Walton  ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ /    ┆ A         │
│        ┆          ┆ Hudson Trevor     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ 1      ┆ 0        ┆ Allison, Miss.    ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ A         │
│        ┆          ┆ Helen Loraine     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ 1      ┆ 0        ┆ Allison, Mr.      ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ /    ┆ C         │
│        ┆          ┆ Hudson Joshua     ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│        ┆          ┆ Cre…              ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 1      ┆ 0        ┆ Allison, Mrs.     ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ /    ┆ C         │
│        ┆          ┆ Hudson J C (Bess… ┆        ┆   ┆      ┆      ┆ Chesterville, O…  ┆           │
│ …      ┆ …        ┆ …                 ┆ …      ┆ … ┆ …    ┆ …    ┆ …                 ┆ …         │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ 328  ┆ null              ┆ B         │
│        ┆          ┆ Hileni            ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zabour, Miss.     ┆ female ┆ … ┆ null ┆ null ┆ null              ┆ null      │
│        ┆          ┆ Thamine           ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ 304  ┆ null              ┆ C         │
│        ┆          ┆ Mapriededer       ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zakarian, Mr.     ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ C         │
│        ┆          ┆ Ortin             ┆        ┆   ┆      ┆      ┆                   ┆           │
│ 3      ┆ 0        ┆ Zimmerman, Mr.    ┆ male   ┆ … ┆ null ┆ null ┆ null              ┆ C         │
│        ┆          ┆ Leo               ┆        ┆   ┆      ┆      ┆                   ┆           │
└────────┴──────────┴───────────────────┴────────┴───┴──────┴──────┴───────────────────┴───────────┘

In [23]:
df_cut.select(
    pl.col('age_group').drop_nulls()
).to_series().value_counts(sort=True)

shape: (8, 2)
┌───────────┬───────┐
│ age_group ┆ count │
│ ---       ┆ ---   │
│ cat       ┆ u32   │
╞═══════════╪═══════╡
│ C         ┆ 361   │
│ D         ┆ 210   │
│ B         ┆ 162   │
│ E         ┆ 132   │
│ A         ┆ 86    │
│ F         ┆ 62    │
│ G         ┆ 27    │
│ H         ┆ 6     │
└───────────┴───────┘

In [24]:
df = pl.read_csv('seminar_survey.csv')
df

shape: (60, 4)
┌───────────────┬───────────┬───────────────────────────┬────────────────┐
│ Respondent ID ┆ Industry  ┆ Occupation                ┆ Seminar Rating │
│ ---           ┆ ---       ┆ ---                       ┆ ---            │
│ i64           ┆ str       ┆ str                       ┆ i64            │
╞═══════════════╪═══════════╪═══════════════════════════╪════════════════╡
│ 1             ┆ IT        ┆ Others                    ┆ 2              │
│ 2             ┆ IT        ┆ Machine Learning Engineer ┆ 2              │
│ 3             ┆ Education ┆ Others                    ┆ 5              │
│ 4             ┆ Finance   ┆ Data Scientist            ┆ 5              │
│ 5             ┆ Finance   ┆ Frontend Engineer         ┆ 3              │
│ …             ┆ …         ┆ …                         ┆ …              │
│ 56            ┆ IT        ┆ Frontend Engineer         ┆ 5              │
│ 57            ┆ IT        ┆ Project Manager           ┆ 3              │
│ 58            ┆ Finance   ┆ Frontend Engineer         ┆ 4              │
│ 59            ┆ Education ┆ Machine Learning Engineer ┆ 1              │
│ 60            ┆ IT        ┆ Researcher                ┆ 1              │
└───────────────┴───────────┴───────────────────────────┴────────────────┘

In [25]:
df.select(
    pl.col(['Industry', 'Occupation'])
).unique().sort(['Industry', 'Occupation'])

shape: (27, 2)
┌───────────┬───────────────────────────┐
│ Industry  ┆ Occupation                │
│ ---       ┆ ---                       │
│ str       ┆ str                       │
╞═══════════╪═══════════════════════════╡
│ Education ┆ Data Scientist            │
│ Education ┆ Machine Learning Engineer │
│ Education ┆ Others                    │
│ Education ┆ Project Manager           │
│ Finance   ┆ Backend Engineer          │
│ …         ┆ …                         │
│ Medical   ┆ Frontend Engineer         │
│ Medical   ┆ Machine Learning Engineer │
│ Medical   ┆ Others                    │
│ Medical   ┆ Project Manager           │
│ Medical   ┆ Researcher                │
└───────────┴───────────────────────────┘

In [26]:
df.unique(subset=['Industry', 'Occupation'])  # 削除される行は保証されない

shape: (27, 4)
┌───────────────┬───────────────┬───────────────────────────┬────────────────┐
│ Respondent ID ┆ Industry      ┆ Occupation                ┆ Seminar Rating │
│ ---           ┆ ---           ┆ ---                       ┆ ---            │
│ i64           ┆ str           ┆ str                       ┆ i64            │
╞═══════════════╪═══════════════╪═══════════════════════════╪════════════════╡
│ 42            ┆ Medical       ┆ Others                    ┆ 5              │
│ 12            ┆ IT            ┆ Researcher                ┆ 2              │
│ 31            ┆ Education     ┆ Project Manager           ┆ 1              │
│ 27            ┆ Education     ┆ Machine Learning Engineer ┆ 5              │
│ 2             ┆ IT            ┆ Machine Learning Engineer ┆ 2              │
│ …             ┆ …             ┆ …                         ┆ …              │
│ 11            ┆ Manufacturing ┆ Machine Learning Engineer ┆ 2              │
│ 4             ┆ Finance       ┆ Data Scientist            ┆ 5              │
│ 40            ┆ Education     ┆ Data Scientist            ┆ 1              │
│ 30            ┆ Manufacturing ┆ Researcher                ┆ 1              │
│ 48            ┆ Manufacturing ┆ Data Scientist            ┆ 5              │
└───────────────┴───────────────┴───────────────────────────┴────────────────┘

In [27]:
df.unique(subset=['Industry', 'Occupation'], maintain_order=True)

shape: (27, 4)
┌───────────────┬───────────────┬───────────────────────────┬────────────────┐
│ Respondent ID ┆ Industry      ┆ Occupation                ┆ Seminar Rating │
│ ---           ┆ ---           ┆ ---                       ┆ ---            │
│ i64           ┆ str           ┆ str                       ┆ i64            │
╞═══════════════╪═══════════════╪═══════════════════════════╪════════════════╡
│ 1             ┆ IT            ┆ Others                    ┆ 2              │
│ 2             ┆ IT            ┆ Machine Learning Engineer ┆ 2              │
│ 3             ┆ Education     ┆ Others                    ┆ 5              │
│ 4             ┆ Finance       ┆ Data Scientist            ┆ 5              │
│ 5             ┆ Finance       ┆ Frontend Engineer         ┆ 3              │
│ …             ┆ …             ┆ …                         ┆ …              │
│ 40            ┆ Education     ┆ Data Scientist            ┆ 1              │
│ 42            ┆ Medical       ┆ Others                    ┆ 5              │
│ 46            ┆ Medical       ┆ Frontend Engineer         ┆ 3              │
│ 48            ┆ Manufacturing ┆ Data Scientist            ┆ 5              │
│ 50            ┆ Medical       ┆ Backend Engineer          ┆ 2              │
└───────────────┴───────────────┴───────────────────────────┴────────────────┘

In [28]:
df = pl.read_csv('titanic.csv')
df_ex = pl.read_csv('titanic_ex.csv').rename({'relatives': 'parch', 'lifeboat': 'boat'})
df_ex_col = pl.read_csv('titanic_ex_col.csv')

In [29]:
pl.concat([df, df_ex])

shape: (2_618, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [30]:
pl.concat([df, df_ex_col], how='horizontal')

shape: (1_309, 16)
┌────────┬──────────┬────────────────────┬────────┬───┬──────┬───────────────────┬────────┬────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ body ┆ home.dest         ┆ height ┆ weight │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---  ┆ ---               ┆ ---    ┆ ---    │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ i64  ┆ str               ┆ i64    ┆ i64    │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════╪═══════════════════╪════════╪════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ null ┆ St Louis, MO      ┆ 174    ┆ 62     │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆      ┆                   ┆        ┆        │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ null ┆ Montreal, PQ /    ┆ 168    ┆ 59     │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆      ┆ Chesterville, O…  ┆        ┆        │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ null ┆ Montreal, PQ /    ┆ 176    ┆ 64     │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆      ┆ Chesterville, O…  ┆        ┆        │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ 135  ┆ Montreal, PQ /    ┆ 185    ┆ 66     │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆      ┆ Chesterville, O…  ┆        ┆        │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ null ┆ Montreal, PQ /    ┆ 167    ┆ 62     │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆      ┆ Chesterville, O…  ┆        ┆        │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …    ┆ …                 ┆ …      ┆ …      │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ 328  ┆ null              ┆ 175    ┆ 59     │
│        ┆          ┆ Hileni             ┆        ┆   ┆      ┆                   ┆        ┆        │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ null ┆ null              ┆ 161    ┆ 62     │
│        ┆          ┆ Thamine            ┆        ┆   ┆      ┆                   ┆        ┆        │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ 304  ┆ null              ┆ 170    ┆ 63     │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆      ┆                   ┆        ┆        │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ null ┆ null              ┆ 169    ┆ 56     │
│        ┆          ┆ Ortin              ┆        ┆   ┆      ┆                   ┆        ┆        │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ null ┆ null              ┆ 180    ┆ 60     │
└────────┴──────────┴────────────────────┴────────┴───┴──────┴───────────────────┴────────┴────────┘

In [31]:
df1 = pl.DataFrame({'A': [1, 2, 3]})
df2 = pl.DataFrame({'A': [4, 5, 6]})

without_rechunk = pl.concat([df1, df2], rechunk=False)
with_rechunk = pl.concat([df1, df2], rechunk=True)

print(len(without_rechunk['A'].get_chunks()))
print(len(with_rechunk['A'].get_chunks()))

2
1

In [32]:
%%time
# リチャンク無し
df_10000_chunk = pl.concat([df for _ in range(10000)], rechunk=False)

df_10000_chunk.select(
    pl.col("age").mean().over("pclass").alias("pclass_age"),
    pl.col("age").mean().over("embarked").alias("embarked_age"),
)

CPU times: user 1.24 s, sys: 280 ms, total: 1.52 s
Wall time: 365 ms

shape: (13_090_000, 2)
┌────────────┬──────────────┐
│ pclass_age ┆ embarked_age │
│ ---        ┆ ---          │
│ f64        ┆ f64          │
╞════════════╪══════════════╡
│ 39.15993   ┆ 29.245205    │
│ 39.15993   ┆ 29.245205    │
│ 39.15993   ┆ 29.245205    │
│ 39.15993   ┆ 29.245205    │
│ 39.15993   ┆ 29.245205    │
│ …          ┆ …            │
│ 24.816367  ┆ 32.33217     │
│ 24.816367  ┆ 32.33217     │
│ 24.816367  ┆ 32.33217     │
│ 24.816367  ┆ 32.33217     │
│ 24.816367  ┆ 29.245205    │
└────────────┴──────────────┘

In [33]:
%%time
# リチャンク有り
df_1_chunk = pl.concat([df for _ in range(10000)], rechunk=True)

df_1_chunk.select(
    pl.col("age").mean().over("pclass").alias("pclass_age"),
    pl.col("age").mean().over("embarked").alias("embarked_age"),
)
# 何故か遅くなる?

CPU times: user 1.42 s, sys: 536 ms, total: 1.96 s
Wall time: 612 ms

shape: (13_090_000, 2)
┌────────────┬──────────────┐
│ pclass_age ┆ embarked_age │
│ ---        ┆ ---          │
│ f64        ┆ f64          │
╞════════════╪══════════════╡
│ 39.15993   ┆ 29.245205    │
│ 39.15993   ┆ 29.245205    │
│ 39.15993   ┆ 29.245205    │
│ 39.15993   ┆ 29.245205    │
│ 39.15993   ┆ 29.245205    │
│ …          ┆ …            │
│ 24.816367  ┆ 32.33217     │
│ 24.816367  ┆ 32.33217     │
│ 24.816367  ┆ 32.33217     │
│ 24.816367  ┆ 32.33217     │
│ 24.816367  ┆ 29.245205    │
└────────────┴──────────────┘

In [34]:
loan_records_df = pl.read_csv('loan_records.csv')
books_df = pl.read_csv('books.csv')
loan_records_df

shape: (300, 4)
┌───────────┬─────────┬──────────────────┬─────────────┐
│ record_id ┆ book_id ┆ borrower_name    ┆ borrow_date │
│ ---       ┆ ---     ┆ ---              ┆ ---         │
│ i64       ┆ i64     ┆ str              ┆ str         │
╞═══════════╪═════════╪══════════════════╪═════════════╡
│ 1         ┆ 90      ┆ Frank Collins    ┆ 2023-04-01  │
│ 2         ┆ 67      ┆ Joseph White     ┆ 2023-04-01  │
│ 3         ┆ 19      ┆ Barbara Jackson  ┆ 2023-04-01  │
│ 4         ┆ 20      ┆ Scott Allen      ┆ 2023-04-01  │
│ 5         ┆ 96      ┆ Billy Richardson ┆ 2023-04-03  │
│ …         ┆ …       ┆ …                ┆ …           │
│ 296       ┆ 33      ┆ Mark Rodriguez   ┆ 2023-09-27  │
│ 297       ┆ 40      ┆ Susan Harris     ┆ 2023-09-27  │
│ 298       ┆ 74      ┆ Mary Johnson     ┆ 2023-09-28  │
│ 299       ┆ 43      ┆ David Thomas     ┆ 2023-09-30  │
│ 300       ┆ 44      ┆ Andrew Simmons   ┆ 2023-09-30  │
└───────────┴─────────┴──────────────────┴─────────────┘

In [35]:
books_df

shape: (100, 3)
┌─────────┬────────────────────────────┬────────────────────┐
│ book_id ┆ title                      ┆ author             │
│ ---     ┆ ---                        ┆ ---                │
│ i64     ┆ str                        ┆ str                │
╞═════════╪════════════════════════════╪════════════════════╡
│ 1       ┆ Chronicles of the Abyss    ┆ Liam Eastman       │
│ 2       ┆ Dreams of Forgotten Realms ┆ Isabella Rainworth │
│ 3       ┆ Sins of the Ancients       ┆ Emma Stonewall     │
│ 4       ┆ The Enchanted Warriors     ┆ Liam Eastman       │
│ 5       ┆ Guardians of Destiny       ┆ Emily Greenfield   │
│ …       ┆ …                          ┆ …                  │
│ 96      ┆ Legends of the Void        ┆ Charlotte Starpeak │
│ 97      ┆ Tales from the East        ┆ Liam Eastman       │
│ 98      ┆ Whispers of the Wind       ┆ Harper Windvale    │
│ 99      ┆ Legacy of the Fallen Stars ┆ Sophia Westwood    │
│ 100     ┆ The Silent Oath            ┆ Jacob Whitecloud   │
└─────────┴────────────────────────────┴────────────────────┘

In [36]:
from datetime import date

(
    loan_records_df.join(
        books_df, on='book_id', how='inner')
    .with_columns(
        pl.col('borrow_date').str.to_datetime('%Y-%m-%d'))
    .filter(
        pl.col('borrow_date').is_between(date(2023, 6, 1), date(2023, 6, 30)))
    .get_column('author')
    .value_counts(sort=True)
    .head(5)
)

shape: (5, 2)
┌──────────────────┬───────┐
│ author           ┆ count │
│ ---              ┆ ---   │
│ str              ┆ u32   │
╞══════════════════╪═══════╡
│ Sophia Westwood  ┆ 7     │
│ Emily Greenfield ┆ 5     │
│ Liam Eastman     ┆ 5     │
│ Olivia Highmount ┆ 5     │
│ Noah Southland   ┆ 5     │
└──────────────────┴───────┘