In [1]:
import polars as pl

In [2]:
df = pl.read_csv('titanic.csv')
df

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [3]:
df.select(
    pl.col(['pclass', 'sibsp', 'parch', 'fare', 'body'])
)

shape: (1_309, 5)
┌────────┬───────┬───────┬──────────┬──────┐
│ pclass ┆ sibsp ┆ parch ┆ fare     ┆ body │
│ ---    ┆ ---   ┆ ---   ┆ ---      ┆ ---  │
│ i64    ┆ i64   ┆ i64   ┆ f64      ┆ i64  │
╞════════╪═══════╪═══════╪══════════╪══════╡
│ 1      ┆ 0     ┆ 0     ┆ 211.3375 ┆ null │
│ 1      ┆ 1     ┆ 2     ┆ 151.55   ┆ null │
│ 1      ┆ 1     ┆ 2     ┆ 151.55   ┆ null │
│ 1      ┆ 1     ┆ 2     ┆ 151.55   ┆ 135  │
│ 1      ┆ 1     ┆ 2     ┆ 151.55   ┆ null │
│ …      ┆ …     ┆ …     ┆ …        ┆ …    │
│ 3      ┆ 1     ┆ 0     ┆ 14.4542  ┆ 328  │
│ 3      ┆ 1     ┆ 0     ┆ 14.4542  ┆ null │
│ 3      ┆ 0     ┆ 0     ┆ 7.225    ┆ 304  │
│ 3      ┆ 0     ┆ 0     ┆ 7.225    ┆ null │
│ 3      ┆ 0     ┆ 0     ┆ 7.875    ┆ null │
└────────┴───────┴───────┴──────────┴──────┘

In [4]:
df.select(
    pl.col(pl.Int64),
    pl.col(pl.Float64)
)

shape: (1_309, 7)
┌────────┬──────────┬───────┬───────┬──────┬──────┬──────────┐
│ pclass ┆ survived ┆ sibsp ┆ parch ┆ body ┆ age  ┆ fare     │
│ ---    ┆ ---      ┆ ---   ┆ ---   ┆ ---  ┆ ---  ┆ ---      │
│ i64    ┆ i64      ┆ i64   ┆ i64   ┆ i64  ┆ f64  ┆ f64      │
╞════════╪══════════╪═══════╪═══════╪══════╪══════╪══════════╡
│ 1      ┆ 1        ┆ 0     ┆ 0     ┆ null ┆ 29.0 ┆ 211.3375 │
│ 1      ┆ 1        ┆ 1     ┆ 2     ┆ null ┆ 0.92 ┆ 151.55   │
│ 1      ┆ 0        ┆ 1     ┆ 2     ┆ null ┆ 2.0  ┆ 151.55   │
│ 1      ┆ 0        ┆ 1     ┆ 2     ┆ 135  ┆ 30.0 ┆ 151.55   │
│ 1      ┆ 0        ┆ 1     ┆ 2     ┆ null ┆ 25.0 ┆ 151.55   │
│ …      ┆ …        ┆ …     ┆ …     ┆ …    ┆ …    ┆ …        │
│ 3      ┆ 0        ┆ 1     ┆ 0     ┆ 328  ┆ 14.5 ┆ 14.4542  │
│ 3      ┆ 0        ┆ 1     ┆ 0     ┆ null ┆ null ┆ 14.4542  │
│ 3      ┆ 0        ┆ 0     ┆ 0     ┆ 304  ┆ 26.5 ┆ 7.225    │
│ 3      ┆ 0        ┆ 0     ┆ 0     ┆ null ┆ 27.0 ┆ 7.225    │
│ 3      ┆ 0        ┆ 0     ┆ 0     ┆ null ┆ 29.0 ┆ 7.875    │
└────────┴──────────┴───────┴───────┴──────┴──────┴──────────┘

In [5]:
df.select(pl.col([pl.Int64, pl.Float64]))

shape: (1_309, 7)
┌────────┬──────────┬──────┬───────┬───────┬──────────┬──────┐
│ pclass ┆ survived ┆ age  ┆ sibsp ┆ parch ┆ fare     ┆ body │
│ ---    ┆ ---      ┆ ---  ┆ ---   ┆ ---   ┆ ---      ┆ ---  │
│ i64    ┆ i64      ┆ f64  ┆ i64   ┆ i64   ┆ f64      ┆ i64  │
╞════════╪══════════╪══════╪═══════╪═══════╪══════════╪══════╡
│ 1      ┆ 1        ┆ 29.0 ┆ 0     ┆ 0     ┆ 211.3375 ┆ null │
│ 1      ┆ 1        ┆ 0.92 ┆ 1     ┆ 2     ┆ 151.55   ┆ null │
│ 1      ┆ 0        ┆ 2.0  ┆ 1     ┆ 2     ┆ 151.55   ┆ null │
│ 1      ┆ 0        ┆ 30.0 ┆ 1     ┆ 2     ┆ 151.55   ┆ 135  │
│ 1      ┆ 0        ┆ 25.0 ┆ 1     ┆ 2     ┆ 151.55   ┆ null │
│ …      ┆ …        ┆ …    ┆ …     ┆ …     ┆ …        ┆ …    │
│ 3      ┆ 0        ┆ 14.5 ┆ 1     ┆ 0     ┆ 14.4542  ┆ 328  │
│ 3      ┆ 0        ┆ null ┆ 1     ┆ 0     ┆ 14.4542  ┆ null │
│ 3      ┆ 0        ┆ 26.5 ┆ 0     ┆ 0     ┆ 7.225    ┆ 304  │
│ 3      ┆ 0        ┆ 27.0 ┆ 0     ┆ 0     ┆ 7.225    ┆ null │
│ 3      ┆ 0        ┆ 29.0 ┆ 0     ┆ 0     ┆ 7.875    ┆ null │
└────────┴──────────┴──────┴───────┴───────┴──────────┴──────┘

In [6]:
df.select(pl.all().exclude('body'))

shape: (1_309, 13)
┌────────┬──────────┬──────────────────┬────────┬───┬─────────┬──────────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name             ┆ sex    ┆ … ┆ cabin   ┆ embarked ┆ boat ┆ home.dest        │
│ ---    ┆ ---      ┆ ---              ┆ ---    ┆   ┆ ---     ┆ ---      ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str              ┆ str    ┆   ┆ str     ┆ str      ┆ str  ┆ str              │
╞════════╪══════════╪══════════════════╪════════╪═══╪═════════╪══════════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.     ┆ female ┆ … ┆ B5      ┆ S        ┆ 2    ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master. ┆ male   ┆ … ┆ C22 C26 ┆ S        ┆ 11   ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor    ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│ 1      ┆ 0        ┆ Allison, Miss.   ┆ female ┆ … ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine    ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│ 1      ┆ 0        ┆ Allison, Mr.     ┆ male   ┆ … ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Joshua    ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│        ┆          ┆ Cre…             ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 1      ┆ 0        ┆ Allison, Mrs.    ┆ female ┆ … ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson J C       ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│        ┆          ┆ (Bess…           ┆        ┆   ┆         ┆          ┆      ┆                  │
│ …      ┆ …        ┆ …                ┆ …      ┆ … ┆ …       ┆ …        ┆ …    ┆ …                │
│ 3      ┆ 0        ┆ Zabour, Miss.    ┆ female ┆ … ┆ null    ┆ C        ┆ null ┆ null             │
│        ┆          ┆ Hileni           ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 3      ┆ 0        ┆ Zabour, Miss.    ┆ female ┆ … ┆ null    ┆ C        ┆ null ┆ null             │
│        ┆          ┆ Thamine          ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 3      ┆ 0        ┆ Zakarian, Mr.    ┆ male   ┆ … ┆ null    ┆ C        ┆ null ┆ null             │
│        ┆          ┆ Mapriededer      ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 3      ┆ 0        ┆ Zakarian, Mr.    ┆ male   ┆ … ┆ null    ┆ C        ┆ null ┆ null             │
│        ┆          ┆ Ortin            ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 3      ┆ 0        ┆ Zimmerman, Mr.   ┆ male   ┆ … ┆ null    ┆ S        ┆ null ┆ null             │
│        ┆          ┆ Leo              ┆        ┆   ┆         ┆          ┆      ┆                  │
└────────┴──────────┴──────────────────┴────────┴───┴─────────┴──────────┴──────┴──────────────────┘

In [7]:
df.select(pl.all().exclude([pl.Int64, pl.Float64]))

shape: (1_309, 7)
┌─────────────────────────────────┬────────┬────────┬─────────┬──────────┬──────┬──────────────────┐
│ name                            ┆ sex    ┆ ticket ┆ cabin   ┆ embarked ┆ boat ┆ home.dest        │
│ ---                             ┆ ---    ┆ ---    ┆ ---     ┆ ---      ┆ ---  ┆ ---              │
│ str                             ┆ str    ┆ str    ┆ str     ┆ str      ┆ str  ┆ str              │
╞═════════════════════════════════╪════════╪════════╪═════════╪══════════╪══════╪══════════════════╡
│ Allen, Miss. Elisabeth Walton   ┆ female ┆ 24160  ┆ B5      ┆ S        ┆ 2    ┆ St Louis, MO     │
│ Allison, Master. Hudson Trevor  ┆ male   ┆ 113781 ┆ C22 C26 ┆ S        ┆ 11   ┆ Montreal, PQ /   │
│                                 ┆        ┆        ┆         ┆          ┆      ┆ Chesterville, O… │
│ Allison, Miss. Helen Loraine    ┆ female ┆ 113781 ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│                                 ┆        ┆        ┆         ┆          ┆      ┆ Chesterville, O… │
│ Allison, Mr. Hudson Joshua Cre… ┆ male   ┆ 113781 ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│                                 ┆        ┆        ┆         ┆          ┆      ┆ Chesterville, O… │
│ Allison, Mrs. Hudson J C (Bess… ┆ female ┆ 113781 ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│                                 ┆        ┆        ┆         ┆          ┆      ┆ Chesterville, O… │
│ …                               ┆ …      ┆ …      ┆ …       ┆ …        ┆ …    ┆ …                │
│ Zabour, Miss. Hileni            ┆ female ┆ 2665   ┆ null    ┆ C        ┆ null ┆ null             │
│ Zabour, Miss. Thamine           ┆ female ┆ 2665   ┆ null    ┆ C        ┆ null ┆ null             │
│ Zakarian, Mr. Mapriededer       ┆ male   ┆ 2656   ┆ null    ┆ C        ┆ null ┆ null             │
│ Zakarian, Mr. Ortin             ┆ male   ┆ 2670   ┆ null    ┆ C        ┆ null ┆ null             │
│ Zimmerman, Mr. Leo              ┆ male   ┆ 315082 ┆ null    ┆ S        ┆ null ┆ null             │
└─────────────────────────────────┴────────┴────────┴─────────┴──────────┴──────┴──────────────────┘

In [8]:
df.select(pl.all().exclude('^.*e$'))

shape: (1_309, 11)
┌────────┬──────────┬────────┬───────┬───┬──────────┬──────┬──────┬────────────────────────────────┐
│ pclass ┆ survived ┆ sex    ┆ sibsp ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest                      │
│ ---    ┆ ---      ┆ ---    ┆ ---   ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---                            │
│ i64    ┆ i64      ┆ str    ┆ i64   ┆   ┆ str      ┆ str  ┆ i64  ┆ str                            │
╞════════╪══════════╪════════╪═══════╪═══╪══════════╪══════╪══════╪════════════════════════════════╡
│ 1      ┆ 1        ┆ female ┆ 0     ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO                   │
│ 1      ┆ 1        ┆ male   ┆ 1     ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ / Chesterville,   │
│        ┆          ┆        ┆       ┆   ┆          ┆      ┆      ┆ O…                             │
│ 1      ┆ 0        ┆ female ┆ 1     ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville,   │
│        ┆          ┆        ┆       ┆   ┆          ┆      ┆      ┆ O…                             │
│ 1      ┆ 0        ┆ male   ┆ 1     ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ / Chesterville,   │
│        ┆          ┆        ┆       ┆   ┆          ┆      ┆      ┆ O…                             │
│ 1      ┆ 0        ┆ female ┆ 1     ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville,   │
│        ┆          ┆        ┆       ┆   ┆          ┆      ┆      ┆ O…                             │
│ …      ┆ …        ┆ …      ┆ …     ┆ … ┆ …        ┆ …    ┆ …    ┆ …                              │
│ 3      ┆ 0        ┆ female ┆ 1     ┆ … ┆ C        ┆ null ┆ 328  ┆ null                           │
│ 3      ┆ 0        ┆ female ┆ 1     ┆ … ┆ C        ┆ null ┆ null ┆ null                           │
│ 3      ┆ 0        ┆ male   ┆ 0     ┆ … ┆ C        ┆ null ┆ 304  ┆ null                           │
│ 3      ┆ 0        ┆ male   ┆ 0     ┆ … ┆ C        ┆ null ┆ null ┆ null                           │
│ 3      ┆ 0        ┆ male   ┆ 0     ┆ … ┆ S        ┆ null ┆ null ┆ null                           │
└────────┴──────────┴────────┴───────┴───┴──────────┴──────┴──────┴────────────────────────────────┘

In [9]:
df.slice(50, 100)

shape: (100, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Cardeza, Mrs.      ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ Germantown,       │
│        ┆          ┆ James Warburton …  ┆        ┆   ┆          ┆      ┆      ┆ Philadelphia, PA  │
│ 1      ┆ 0        ┆ Carlsson, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY      │
│        ┆          ┆ Frans Olof         ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Carrau, Mr.        ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Montevideo,       │
│        ┆          ┆ Francisco M        ┆        ┆   ┆          ┆      ┆      ┆ Uruguay           │
│ 1      ┆ 0        ┆ Carrau, Mr. Jose   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Montevideo,       │
│        ┆          ┆ Pedro              ┆        ┆   ┆          ┆      ┆      ┆ Uruguay           │
│ 1      ┆ 1        ┆ Carter, Master.    ┆ male   ┆ … ┆ S        ┆ 4    ┆ null ┆ Bryn Mawr, PA     │
│        ┆          ┆ William Thornt…    ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 1      ┆ 1        ┆ Harper, Mr. Henry  ┆ male   ┆ … ┆ C        ┆ 3    ┆ null ┆ New York, NY      │
│        ┆          ┆ Sleeper            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Harper, Mrs. Henry ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ New York, NY      │
│        ┆          ┆ Sleeper (My…       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Harrington, Mr.    ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Charles H          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Harris, Mr. Henry  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY      │
│        ┆          ┆ Birkhardt          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Harris, Mrs. Henry ┆ female ┆ … ┆ S        ┆ D    ┆ null ┆ New York, NY      │
│        ┆          ┆ Birkhardt (…       ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [10]:
df[50]

shape: (1, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Cardeza, Mrs.      ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ Germantown,       │
│        ┆          ┆ James Warburton …  ┆        ┆   ┆          ┆      ┆      ┆ Philadelphia, PA  │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [11]:
df.filter(pl.col('survived') == 1)

shape: (500, 14)
┌────────┬──────────┬───────────────────┬────────┬───┬──────────┬───────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name              ┆ sex    ┆ … ┆ embarked ┆ boat  ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---               ┆ ---    ┆   ┆ ---      ┆ ---   ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str               ┆ str    ┆   ┆ str      ┆ str   ┆ i64  ┆ str               │
╞════════╪══════════╪═══════════════════╪════════╪═══╪══════════╪═══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.      ┆ female ┆ … ┆ S        ┆ 2     ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton  ┆        ┆   ┆          ┆       ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.  ┆ male   ┆ … ┆ S        ┆ 11    ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor     ┆        ┆   ┆          ┆       ┆      ┆ Chesterville, O…  │
│ 1      ┆ 1        ┆ Anderson, Mr.     ┆ male   ┆ … ┆ S        ┆ 3     ┆ null ┆ New York, NY      │
│        ┆          ┆ Harry             ┆        ┆   ┆          ┆       ┆      ┆                   │
│ 1      ┆ 1        ┆ Andrews, Miss.    ┆ female ┆ … ┆ S        ┆ 10    ┆ null ┆ Hudson, NY        │
│        ┆          ┆ Kornelia Theodo…  ┆        ┆   ┆          ┆       ┆      ┆                   │
│ 1      ┆ 1        ┆ Appleton, Mrs.    ┆ female ┆ … ┆ S        ┆ D     ┆ null ┆ Bayside, Queens,  │
│        ┆          ┆ Edward Dale (Ch…  ┆        ┆   ┆          ┆       ┆      ┆ NY                │
│ …      ┆ …        ┆ …                 ┆ …      ┆ … ┆ …        ┆ …     ┆ …    ┆ …                 │
│ 3      ┆ 1        ┆ Turkula, Mrs.     ┆ female ┆ … ┆ S        ┆ 15    ┆ null ┆ null              │
│        ┆          ┆ (Hedwig)          ┆        ┆   ┆          ┆       ┆      ┆                   │
│ 3      ┆ 1        ┆ Vartanian, Mr.    ┆ male   ┆ … ┆ C        ┆ 13 15 ┆ null ┆ null              │
│        ┆          ┆ David             ┆        ┆   ┆          ┆       ┆      ┆                   │
│ 3      ┆ 1        ┆ Whabee, Mrs.      ┆ female ┆ … ┆ C        ┆ C     ┆ null ┆ null              │
│        ┆          ┆ George Joseph     ┆        ┆   ┆          ┆       ┆      ┆                   │
│        ┆          ┆ (Sh…              ┆        ┆   ┆          ┆       ┆      ┆                   │
│ 3      ┆ 1        ┆ Wilkes, Mrs.      ┆ female ┆ … ┆ S        ┆ null  ┆ null ┆ null              │
│        ┆          ┆ James (Ellen      ┆        ┆   ┆          ┆       ┆      ┆                   │
│        ┆          ┆ Need…             ┆        ┆   ┆          ┆       ┆      ┆                   │
│ 3      ┆ 1        ┆ Yasbeck, Mrs.     ┆ female ┆ … ┆ C        ┆ null  ┆ null ┆ null              │
│        ┆          ┆ Antoni (Selini A… ┆        ┆   ┆          ┆       ┆      ┆                   │
└────────┴──────────┴───────────────────┴────────┴───┴──────────┴───────┴──────┴───────────────────┘

In [12]:
df.filter(
    (pl.col('survived') == 1) & (pl.col('pclass') == 1)
)

shape: (200, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 1        ┆ Anderson, Mr.      ┆ male   ┆ … ┆ S        ┆ 3    ┆ null ┆ New York, NY      │
│        ┆          ┆ Harry              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Andrews, Miss.     ┆ female ┆ … ┆ S        ┆ 10   ┆ null ┆ Hudson, NY        │
│        ┆          ┆ Kornelia Theodo…   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Appleton, Mrs.     ┆ female ┆ … ┆ S        ┆ D    ┆ null ┆ Bayside, Queens,  │
│        ┆          ┆ Edward Dale (Ch…   ┆        ┆   ┆          ┆      ┆      ┆ NY                │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 1      ┆ 1        ┆ Willard, Miss.     ┆ female ┆ … ┆ S        ┆ 8 10 ┆ null ┆ Duluth, MN        │
│        ┆          ┆ Constance          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Williams, Mr.      ┆ male   ┆ … ┆ C        ┆ A    ┆ null ┆ Geneva,           │
│        ┆          ┆ Richard Norris I…  ┆        ┆   ┆          ┆      ┆      ┆ Switzerland /     │
│        ┆          ┆                    ┆        ┆   ┆          ┆      ┆      ┆ Radnor, …         │
│ 1      ┆ 1        ┆ Wilson, Miss.      ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ null              │
│        ┆          ┆ Helen Alice        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Woolner, Mr. Hugh  ┆ male   ┆ … ┆ S        ┆ D    ┆ null ┆ London, England   │
│ 1      ┆ 1        ┆ Young, Miss. Marie ┆ female ┆ … ┆ C        ┆ 8    ┆ null ┆ New York, NY /    │
│        ┆          ┆ Grice              ┆        ┆   ┆          ┆      ┆      ┆ Washington, DC    │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [13]:
df.filter(
    pl.col('sex').eq('female') & pl.col('age').ge(40)
)

shape: (84, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Andrews, Miss.     ┆ female ┆ … ┆ S        ┆ 10   ┆ null ┆ Hudson, NY        │
│        ┆          ┆ Kornelia Theodo…   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Appleton, Mrs.     ┆ female ┆ … ┆ S        ┆ D    ┆ null ┆ Bayside, Queens,  │
│        ┆          ┆ Edward Dale (Ch…   ┆        ┆   ┆          ┆      ┆      ┆ NY                │
│ 1      ┆ 1        ┆ Baxter, Mrs. James ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Montreal, PQ      │
│        ┆          ┆ (Helene DeL…       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Beckwith, Mrs.     ┆ female ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY      │
│        ┆          ┆ Richard Leonard…   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Bidois, Miss.      ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ null              │
│        ┆          ┆ Rosalie            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Robins, Mrs.       ┆ female ┆ … ┆ S        ┆ null ┆ 7    ┆ null              │
│        ┆          ┆ Alexander A (Grac… ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Rosblom, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Viktor (Helena W…  ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Skoog, Mrs.        ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ William (Anna      ┆        ┆   ┆          ┆      ┆      ┆                   │
│        ┆          ┆ Bern…              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 1        ┆ Turkula, Mrs.      ┆ female ┆ … ┆ S        ┆ 15   ┆ null ┆ null              │
│        ┆          ┆ (Hedwig)           ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 1        ┆ Wilkes, Mrs. James ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ (Ellen Need…       ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [14]:
df.filter(
    ~(
        ((pl.col('age') >= 40) & (pl.col('age') < 45))
        | (pl.col('embarked') == 'Q')
    )
)

shape: (928, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Youseff, Mr.       ┆ male   ┆ … ┆ C        ┆ null ┆ 312  ┆ null              │
│        ┆          ┆ Gerious            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [15]:
df.filter(
    ~(
        (pl.col('age').is_between(40, 45, closed='left'))
        | (pl.col('embarked') == 'Q')
    )
).select(pl.col('age')).to_series().null_count()

0

In [16]:
df.filter(
    ~pl.col('cabin').is_null()
)

shape: (295, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 1        ┆ Sandstrom, Miss.   ┆ female ┆ … ┆ S        ┆ 13   ┆ null ┆ null              │
│        ┆          ┆ Marguerite Ru…     ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Soholt, Mr. Peter  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Andreas Laur…      ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Strom, Miss. Telma ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Matilda            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Strom, Mrs.        ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Wilhelm (Elna      ┆        ┆   ┆          ┆      ┆      ┆                   │
│        ┆          ┆ Mati…              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Tobin, Mr. Roger   ┆ male   ┆ … ┆ Q        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [17]:
df.filter(
    pl.col('cabin').is_not_null()
)

shape: (295, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 1        ┆ Sandstrom, Miss.   ┆ female ┆ … ┆ S        ┆ 13   ┆ null ┆ null              │
│        ┆          ┆ Marguerite Ru…     ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Soholt, Mr. Peter  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Andreas Laur…      ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Strom, Miss. Telma ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Matilda            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Strom, Mrs.        ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Wilhelm (Elna      ┆        ┆   ┆          ┆      ┆      ┆                   │
│        ┆          ┆ Mati…              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Tobin, Mr. Roger   ┆ male   ┆ … ┆ Q        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [18]:
df.select(
    pl.all().exclude('body')
)

shape: (1_309, 13)
┌────────┬──────────┬──────────────────┬────────┬───┬─────────┬──────────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name             ┆ sex    ┆ … ┆ cabin   ┆ embarked ┆ boat ┆ home.dest        │
│ ---    ┆ ---      ┆ ---              ┆ ---    ┆   ┆ ---     ┆ ---      ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str              ┆ str    ┆   ┆ str     ┆ str      ┆ str  ┆ str              │
╞════════╪══════════╪══════════════════╪════════╪═══╪═════════╪══════════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.     ┆ female ┆ … ┆ B5      ┆ S        ┆ 2    ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master. ┆ male   ┆ … ┆ C22 C26 ┆ S        ┆ 11   ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor    ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│ 1      ┆ 0        ┆ Allison, Miss.   ┆ female ┆ … ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Helen Loraine    ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│ 1      ┆ 0        ┆ Allison, Mr.     ┆ male   ┆ … ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Joshua    ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│        ┆          ┆ Cre…             ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 1      ┆ 0        ┆ Allison, Mrs.    ┆ female ┆ … ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson J C       ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│        ┆          ┆ (Bess…           ┆        ┆   ┆         ┆          ┆      ┆                  │
│ …      ┆ …        ┆ …                ┆ …      ┆ … ┆ …       ┆ …        ┆ …    ┆ …                │
│ 3      ┆ 0        ┆ Zabour, Miss.    ┆ female ┆ … ┆ null    ┆ C        ┆ null ┆ null             │
│        ┆          ┆ Hileni           ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 3      ┆ 0        ┆ Zabour, Miss.    ┆ female ┆ … ┆ null    ┆ C        ┆ null ┆ null             │
│        ┆          ┆ Thamine          ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 3      ┆ 0        ┆ Zakarian, Mr.    ┆ male   ┆ … ┆ null    ┆ C        ┆ null ┆ null             │
│        ┆          ┆ Mapriededer      ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 3      ┆ 0        ┆ Zakarian, Mr.    ┆ male   ┆ … ┆ null    ┆ C        ┆ null ┆ null             │
│        ┆          ┆ Ortin            ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 3      ┆ 0        ┆ Zimmerman, Mr.   ┆ male   ┆ … ┆ null    ┆ S        ┆ null ┆ null             │
│        ┆          ┆ Leo              ┆        ┆   ┆         ┆          ┆      ┆                  │
└────────┴──────────┴──────────────────┴────────┴───┴─────────┴──────────┴──────┴──────────────────┘

In [19]:
df.select(
    pl.all().exclude('body')
).drop_nulls()

shape: (159, 13)
┌────────┬──────────┬──────────────────┬────────┬───┬─────────┬──────────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name             ┆ sex    ┆ … ┆ cabin   ┆ embarked ┆ boat ┆ home.dest        │
│ ---    ┆ ---      ┆ ---              ┆ ---    ┆   ┆ ---     ┆ ---      ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str              ┆ str    ┆   ┆ str     ┆ str      ┆ str  ┆ str              │
╞════════╪══════════╪══════════════════╪════════╪═══╪═════════╪══════════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.     ┆ female ┆ … ┆ B5      ┆ S        ┆ 2    ┆ St Louis, MO     │
│        ┆          ┆ Elisabeth Walton ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 1      ┆ 1        ┆ Allison, Master. ┆ male   ┆ … ┆ C22 C26 ┆ S        ┆ 11   ┆ Montreal, PQ /   │
│        ┆          ┆ Hudson Trevor    ┆        ┆   ┆         ┆          ┆      ┆ Chesterville, O… │
│ 1      ┆ 1        ┆ Anderson, Mr.    ┆ male   ┆ … ┆ E12     ┆ S        ┆ 3    ┆ New York, NY     │
│        ┆          ┆ Harry            ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 1      ┆ 1        ┆ Andrews, Miss.   ┆ female ┆ … ┆ D7      ┆ S        ┆ 10   ┆ Hudson, NY       │
│        ┆          ┆ Kornelia Theodo… ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 1      ┆ 1        ┆ Appleton, Mrs.   ┆ female ┆ … ┆ C101    ┆ S        ┆ D    ┆ Bayside, Queens, │
│        ┆          ┆ Edward Dale (Ch… ┆        ┆   ┆         ┆          ┆      ┆ NY               │
│ …      ┆ …        ┆ …                ┆ …      ┆ … ┆ …       ┆ …        ┆ …    ┆ …                │
│ 2      ┆ 1        ┆ Nourney, Mr.     ┆ male   ┆ … ┆ D38     ┆ C        ┆ 7    ┆ Cologne, Germany │
│        ┆          ┆ Alfred ("Baron   ┆        ┆   ┆         ┆          ┆      ┆                  │
│        ┆          ┆ vo…              ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 2      ┆ 1        ┆ Nye, Mrs.        ┆ female ┆ … ┆ F33     ┆ S        ┆ 11   ┆ Folkstone, Kent  │
│        ┆          ┆ (Elizabeth       ┆        ┆   ┆         ┆          ┆      ┆ / New York, NY   │
│        ┆          ┆ Ramell)          ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 2      ┆ 1        ┆ Troutt, Miss.    ┆ female ┆ … ┆ E101    ┆ S        ┆ 16   ┆ Bath, England /  │
│        ┆          ┆ Edwina Celia     ┆        ┆   ┆         ┆          ┆      ┆ Massachusetts    │
│        ┆          ┆ "Wi…             ┆        ┆   ┆         ┆          ┆      ┆                  │
│ 2      ┆ 1        ┆ Webber, Miss.    ┆ female ┆ … ┆ E101    ┆ S        ┆ 12   ┆ England /        │
│        ┆          ┆ Susan            ┆        ┆   ┆         ┆          ┆      ┆ Hartford, CT     │
│ 3      ┆ 1        ┆ Abelseth, Mr.    ┆ male   ┆ … ┆ F G63   ┆ S        ┆ A    ┆ Perkins County,  │
│        ┆          ┆ Olaus Jorgensen  ┆        ┆   ┆         ┆          ┆      ┆ SD               │
└────────┴──────────┴──────────────────┴────────┴───┴─────────┴──────────┴──────┴──────────────────┘

In [20]:
df.filter(
    ~pl.all_horizontal(pl.all().is_null())
)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [21]:
df.select(pl.col('boat')).to_series().value_counts(sort=True, )

shape: (28, 2)
┌─────────┬───────┐
│ boat    ┆ count │
│ ---     ┆ ---   │
│ str     ┆ u32   │
╞═════════╪═══════╡
│ null    ┆ 823   │
│ 13      ┆ 39    │
│ C       ┆ 38    │
│ 15      ┆ 37    │
│ 14      ┆ 33    │
│ …       ┆ …     │
│ 13 15   ┆ 2     │
│ 5 9     ┆ 1     │
│ 8 10    ┆ 1     │
│ 13 15 B ┆ 1     │
│ 15 16   ┆ 1     │
└─────────┴───────┘

In [22]:
df.filter(
    pl.col('boat').is_in(['A', 'C', '3', '6'])
)

shape: (95, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Anderson, Mr.      ┆ male   ┆ … ┆ S        ┆ 3    ┆ null ┆ New York, NY      │
│        ┆          ┆ Harry              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Barber, Miss.      ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ null              │
│        ┆          ┆ Ellen "Nellie"     ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Baxter, Mrs. James ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Montreal, PQ      │
│        ┆          ┆ (Helene DeL…       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Beattie, Mr.       ┆ male   ┆ … ┆ C        ┆ A    ┆ null ┆ Winnipeg, MN      │
│        ┆          ┆ Thomson            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Bowerman, Miss.    ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ St                │
│        ┆          ┆ Elsie Edith        ┆        ┆   ┆          ┆      ┆      ┆ Leonards-on-Sea,  │
│        ┆          ┆                    ┆        ┆   ┆          ┆      ┆      ┆ England Oh…       │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 1        ┆ Touma, Master.     ┆ male   ┆ … ┆ C        ┆ C    ┆ null ┆ null              │
│        ┆          ┆ Georges Youssef    ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 1        ┆ Touma, Miss. Maria ┆ female ┆ … ┆ C        ┆ C    ┆ null ┆ null              │
│        ┆          ┆ Youssef            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 1        ┆ Touma, Mrs. Darwis ┆ female ┆ … ┆ C        ┆ C    ┆ null ┆ null              │
│        ┆          ┆ (Hanne Yous…       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 1        ┆ Whabee, Mrs.       ┆ female ┆ … ┆ C        ┆ C    ┆ null ┆ null              │
│        ┆          ┆ George Joseph (Sh… ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Yasbeck, Mr.       ┆ male   ┆ … ┆ C        ┆ C    ┆ null ┆ null              │
│        ┆          ┆ Antoni             ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [23]:
df.filter(
    pl.col('name').str.contains(', Dr')
)

shape: (8, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 0        ┆ Brewe, Dr. Arthur  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ Philadelphia, PA  │
│        ┆          ┆ Jackson            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Dodge, Dr.         ┆ male   ┆ … ┆ S        ┆ 13   ┆ null ┆ San Francisco, CA │
│        ┆          ┆ Washington         ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Frauenthal, Dr.    ┆ male   ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY      │
│        ┆          ┆ Henry William      ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Leader, Dr. Alice  ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ New York, NY      │
│        ┆          ┆ (Farnham)          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Minahan, Dr.       ┆ male   ┆ … ┆ Q        ┆ null ┆ 230  ┆ Fond du Lac, WI   │
│        ┆          ┆ William Edward     ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Stahelin-Maeglin,  ┆ male   ┆ … ┆ C        ┆ 3    ┆ null ┆ Basel,            │
│        ┆          ┆ Dr. Max            ┆        ┆   ┆          ┆      ┆      ┆ Switzerland       │
│ 2      ┆ 0        ┆ Moraweck, Dr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Frankfort, KY     │
│        ┆          ┆ Ernest             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 0        ┆ Pain, Dr. Alfred   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Hamilton, ON      │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [24]:
df.sample(100)

shape: (100, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 3      ┆ 0        ┆ Larsson, Mr. Bengt ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Edvin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Davidson, Mrs.     ┆ female ┆ … ┆ S        ┆ 3    ┆ null ┆ Montreal, PQ      │
│        ┆          ┆ Thornton (Orian…   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 1        ┆ McDermott, Miss.   ┆ female ┆ … ┆ Q        ┆ 13   ┆ null ┆ null              │
│        ┆          ┆ Brigdet Delia      ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Taussig, Mr. Emil  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY      │
│ 3      ┆ 1        ┆ Johannesen-Brattha ┆ male   ┆ … ┆ S        ┆ 13   ┆ null ┆ null              │
│        ┆          ┆ mmer, Mr. Be…      ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Khalil, Mrs.       ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Betros (Zahie "Ma… ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Andersson, Mr.     ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Sweden Winnipeg,  │
│        ┆          ┆ Anders Johan       ┆        ┆   ┆          ┆      ┆      ┆ MN                │
│ 3      ┆ 0        ┆ Mahon, Mr. John    ┆ male   ┆ … ┆ Q        ┆ null ┆ null ┆ null              │
│ 1      ┆ 1        ┆ Duff Gordon, Sir.  ┆ male   ┆ … ┆ C        ┆ 1    ┆ null ┆ London / Paris    │
│        ┆          ┆ Cosmo Edmund…      ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Tucker, Mr.        ┆ male   ┆ … ┆ C        ┆ 7    ┆ null ┆ Albany, NY        │
│        ┆          ┆ Gilbert Milligan   ┆        ┆   ┆          ┆      ┆      ┆                   │
│        ┆          ┆ J…                 ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [25]:
df.sample(100, seed=42)

shape: (100, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Minahan, Mrs.      ┆ female ┆ … ┆ Q        ┆ 14   ┆ null ┆ Fond du Lac, WI   │
│        ┆          ┆ William Edward (…  ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 1        ┆ Davies, Mrs. John  ┆ female ┆ … ┆ S        ┆ 14   ┆ null ┆ St Ives, Cornwall │
│        ┆          ┆ Morgan (Eliz…      ┆        ┆   ┆          ┆      ┆      ┆ / Hancock, M…     │
│ 3      ┆ 0        ┆ Lefebre, Master.   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Henry Forbes       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Carlsson, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Dagsas, Sweden    │
│        ┆          ┆ August Sigfrid     ┆        ┆   ┆          ┆      ┆      ┆ Fower, MN         │
│ 1      ┆ 0        ┆ McCarthy, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ 175  ┆ Dorchester, MA    │
│        ┆          ┆ Timothy J          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Reed, Mr. James    ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ George             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Silverthorne, Mr.  ┆ male   ┆ … ┆ S        ┆ 5    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Spencer Vict…      ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Khalil, Mr. Betros ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│ 3      ┆ 0        ┆ Lemberopolous, Mr. ┆ male   ┆ … ┆ C        ┆ null ┆ 196  ┆ null              │
│        ┆          ┆ Peter L            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 0        ┆ Weisz, Mr. Leopold ┆ male   ┆ … ┆ S        ┆ null ┆ 293  ┆ Bromsgrove,       │
│        ┆          ┆                    ┆        ┆   ┆          ┆      ┆      ┆ England /         │
│        ┆          ┆                    ┆        ┆   ┆          ┆      ┆      ┆ Montreal…         │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [26]:
df.sample(fraction=0.2, seed=42)

shape: (261, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Minahan, Mrs.      ┆ female ┆ … ┆ Q        ┆ 14   ┆ null ┆ Fond du Lac, WI   │
│        ┆          ┆ William Edward (…  ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 1        ┆ Davies, Mrs. John  ┆ female ┆ … ┆ S        ┆ 14   ┆ null ┆ St Ives, Cornwall │
│        ┆          ┆ Morgan (Eliz…      ┆        ┆   ┆          ┆      ┆      ┆ / Hancock, M…     │
│ 3      ┆ 0        ┆ Lefebre, Master.   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Henry Forbes       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Carlsson, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Dagsas, Sweden    │
│        ┆          ┆ August Sigfrid     ┆        ┆   ┆          ┆      ┆      ┆ Fower, MN         │
│ 1      ┆ 0        ┆ McCarthy, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ 175  ┆ Dorchester, MA    │
│        ┆          ┆ Timothy J          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 1      ┆ 1        ┆ Romaine, Mr.       ┆ male   ┆ … ┆ S        ┆ 9    ┆ null ┆ New York, NY      │
│        ┆          ┆ Charles Hallace (… ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Vovk, Mr. Janko    ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│ 3      ┆ 0        ┆ Rice, Master.      ┆ male   ┆ … ┆ Q        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Albert             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Bjorklund, Mr.     ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Stockholm, Sweden │
│        ┆          ┆ Ernst Herbert      ┆        ┆   ┆          ┆      ┆      ┆ New York          │
│ 3      ┆ 0        ┆ Larsson, Mr. Bengt ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Edvin              ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [27]:
df.sample(fraction=1.0, shuffle=True, seed=42)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Bowen, Miss. Grace ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ Cooperstown, NY   │
│        ┆          ┆ Scott              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Homer, Mr. Harry   ┆ male   ┆ … ┆ C        ┆ 15   ┆ null ┆ Indianapolis, IN  │
│        ┆          ┆ ("Mr E Haven"…     ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Humblen, Mr. Adolf ┆ male   ┆ … ┆ S        ┆ null ┆ 120  ┆ null              │
│        ┆          ┆ Mathias Nic…       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Panula, Master.    ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Eino Viljami       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 1        ┆ Slayter, Miss.     ┆ female ┆ … ┆ Q        ┆ 13   ┆ null ┆ Halifax, NS       │
│        ┆          ┆ Hilda Mary         ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 1      ┆ 0        ┆ Marvin, Mr. Daniel ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY      │
│        ┆          ┆ Warner             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Cann, Mr. Ernest   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Charles            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Larsson-Rondberg,  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Mr. Edvard A       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 0        ┆ Davies, Mr.        ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Lyndhurst,        │
│        ┆          ┆ Charles Henry      ┆        ┆   ┆          ┆      ┆      ┆ England           │
│ 1      ┆ 1        ┆ Minahan, Mrs.      ┆ female ┆ … ┆ Q        ┆ 14   ┆ null ┆ Fond du Lac, WI   │
│        ┆          ┆ William Edward (…  ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [28]:
df.select(
    pl.all().shuffle(seed=42)
)

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Bowen, Miss. Grace ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ Cooperstown, NY   │
│        ┆          ┆ Scott              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Homer, Mr. Harry   ┆ male   ┆ … ┆ C        ┆ 15   ┆ null ┆ Indianapolis, IN  │
│        ┆          ┆ ("Mr E Haven"…     ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Humblen, Mr. Adolf ┆ male   ┆ … ┆ S        ┆ null ┆ 120  ┆ null              │
│        ┆          ┆ Mathias Nic…       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Panula, Master.    ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Eino Viljami       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 1        ┆ Slayter, Miss.     ┆ female ┆ … ┆ Q        ┆ 13   ┆ null ┆ Halifax, NS       │
│        ┆          ┆ Hilda Mary         ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 1      ┆ 0        ┆ Marvin, Mr. Daniel ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY      │
│        ┆          ┆ Warner             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Cann, Mr. Ernest   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Charles            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Larsson-Rondberg,  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Mr. Edvard A       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 2      ┆ 0        ┆ Davies, Mr.        ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Lyndhurst,        │
│        ┆          ┆ Charles Henry      ┆        ┆   ┆          ┆      ┆      ┆ England           │
│ 1      ┆ 1        ┆ Minahan, Mrs.      ┆ female ┆ … ┆ Q        ┆ 14   ┆ null ┆ Fond du Lac, WI   │
│        ┆          ┆ William Edward (…  ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘