In [1]:
!wget "https://drive.google.com/uc?export=download&id=1VR8zaNSBdjTOui899zZDu5H2c58UyKba" -O transactions.csv

--2024-10-23 01:36:04--  https://drive.google.com/uc?export=download&id=1VR8zaNSBdjTOui899zZDu5H2c58UyKba
Resolving drive.google.com (drive.google.com)... 216.58.220.110, 2404:6800:4004:818::200e
Connecting to drive.google.com (drive.google.com)|216.58.220.110|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1VR8zaNSBdjTOui899zZDu5H2c58UyKba&export=download [following]
--2024-10-23 01:36:04--  https://drive.usercontent.google.com/download?id=1VR8zaNSBdjTOui899zZDu5H2c58UyKba&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.198.1, 2404:6800:4004:81c::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.198.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3733 (3.6K) [application/octet-stream]
Saving to: ‘transactions.csv’

transactions.csv    100%[===================>]   3.65K  --.-KB/s    in 0.002s

2024-10-23 01:36:07 (2.25 MB/s) - ‘transactions.csv’ saved [3733/3733]

In [2]:
import polars as pl

In [3]:
df = pl.read_csv('titanic.csv')
df

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [4]:
df.group_by('sex').agg(
    pl.col('survived').mean()# .alias('survival_rate')
)

shape: (2, 2)
┌────────┬──────────┐
│ sex    ┆ survived │
│ ---    ┆ ---      │
│ str    ┆ f64      │
╞════════╪══════════╡
│ female ┆ 0.727468 │
│ male   ┆ 0.190985 │
└────────┴──────────┘

In [5]:
df.group_by('sex', maintain_order=True).agg(
    pl.col('survived').mean()# .alias('survival_rate')
)

shape: (2, 2)
┌────────┬──────────┐
│ sex    ┆ survived │
│ ---    ┆ ---      │
│ str    ┆ f64      │
╞════════╪══════════╡
│ female ┆ 0.727468 │
│ male   ┆ 0.190985 │
└────────┴──────────┘

In [6]:
df.with_columns(
    (pl.col('age') - pl.col('age').mean().over('pclass'))
    .alias('age_diff_from_mean_per_pclass')
)

shape: (1_309, 15)
┌────────┬──────────┬─────────────────┬────────┬───┬──────┬──────┬────────────────┬────────────────┐
│ pclass ┆ survived ┆ name            ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest      ┆ age_diff_from_ │
│ ---    ┆ ---      ┆ ---             ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---            ┆ mean_per_pclas │
│ i64    ┆ i64      ┆ str             ┆ str    ┆   ┆ str  ┆ i64  ┆ str            ┆ s              │
│        ┆          ┆                 ┆        ┆   ┆      ┆      ┆                ┆ ---            │
│        ┆          ┆                 ┆        ┆   ┆      ┆      ┆                ┆ f64            │
╞════════╪══════════╪═════════════════╪════════╪═══╪══════╪══════╪════════════════╪════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.    ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO   ┆ -10.15993      │
│        ┆          ┆ Elisabeth       ┆        ┆   ┆      ┆      ┆                ┆                │
│        ┆          ┆ Walton          ┆        ┆   ┆      ┆      ┆                ┆                │
│ 1      ┆ 1        ┆ Allison,        ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ / ┆ -38.23993      │
│        ┆          ┆ Master. Hudson  ┆        ┆   ┆      ┆      ┆ Chesterville,  ┆                │
│        ┆          ┆ Trevor          ┆        ┆   ┆      ┆      ┆ O…             ┆                │
│ 1      ┆ 0        ┆ Allison, Miss.  ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ / ┆ -37.15993      │
│        ┆          ┆ Helen Loraine   ┆        ┆   ┆      ┆      ┆ Chesterville,  ┆                │
│        ┆          ┆                 ┆        ┆   ┆      ┆      ┆ O…             ┆                │
│ 1      ┆ 0        ┆ Allison, Mr.    ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ / ┆ -9.15993       │
│        ┆          ┆ Hudson Joshua   ┆        ┆   ┆      ┆      ┆ Chesterville,  ┆                │
│        ┆          ┆ Cre…            ┆        ┆   ┆      ┆      ┆ O…             ┆                │
│ 1      ┆ 0        ┆ Allison, Mrs.   ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ / ┆ -14.15993      │
│        ┆          ┆ Hudson J C      ┆        ┆   ┆      ┆      ┆ Chesterville,  ┆                │
│        ┆          ┆ (Bess…          ┆        ┆   ┆      ┆      ┆ O…             ┆                │
│ …      ┆ …        ┆ …               ┆ …      ┆ … ┆ …    ┆ …    ┆ …              ┆ …              │
│ 3      ┆ 0        ┆ Zabour, Miss.   ┆ female ┆ … ┆ null ┆ 328  ┆ null           ┆ -10.316367     │
│        ┆          ┆ Hileni          ┆        ┆   ┆      ┆      ┆                ┆                │
│ 3      ┆ 0        ┆ Zabour, Miss.   ┆ female ┆ … ┆ null ┆ null ┆ null           ┆ null           │
│        ┆          ┆ Thamine         ┆        ┆   ┆      ┆      ┆                ┆                │
│ 3      ┆ 0        ┆ Zakarian, Mr.   ┆ male   ┆ … ┆ null ┆ 304  ┆ null           ┆ 1.683633       │
│        ┆          ┆ Mapriededer     ┆        ┆   ┆      ┆      ┆                ┆                │
│ 3      ┆ 0        ┆ Zakarian, Mr.   ┆ male   ┆ … ┆ null ┆ null ┆ null           ┆ 2.183633       │
│        ┆          ┆ Ortin           ┆        ┆   ┆      ┆      ┆                ┆                │
│ 3      ┆ 0        ┆ Zimmerman, Mr.  ┆ male   ┆ … ┆ null ┆ null ┆ null           ┆ 4.183633       │
│        ┆          ┆ Leo             ┆        ┆   ┆      ┆      ┆                ┆                │
└────────┴──────────┴─────────────────┴────────┴───┴──────┴──────┴────────────────┴────────────────┘

In [7]:
df.with_columns(
    (pl.col('age') - pl.col('age').mean().over(['pclass', 'sex']))
    .alias('age_diff_from_mean_per_pclass')
)

shape: (1_309, 15)
┌────────┬──────────┬─────────────────┬────────┬───┬──────┬──────┬────────────────┬────────────────┐
│ pclass ┆ survived ┆ name            ┆ sex    ┆ … ┆ boat ┆ body ┆ home.dest      ┆ age_diff_from_ │
│ ---    ┆ ---      ┆ ---             ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---            ┆ mean_per_pclas │
│ i64    ┆ i64      ┆ str             ┆ str    ┆   ┆ str  ┆ i64  ┆ str            ┆ s              │
│        ┆          ┆                 ┆        ┆   ┆      ┆      ┆                ┆ ---            │
│        ┆          ┆                 ┆        ┆   ┆      ┆      ┆                ┆ f64            │
╞════════╪══════════╪═════════════════╪════════╪═══╪══════╪══════╪════════════════╪════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.    ┆ female ┆ … ┆ 2    ┆ null ┆ St Louis, MO   ┆ -8.037594      │
│        ┆          ┆ Elisabeth       ┆        ┆   ┆      ┆      ┆                ┆                │
│        ┆          ┆ Walton          ┆        ┆   ┆      ┆      ┆                ┆                │
│ 1      ┆ 1        ┆ Allison,        ┆ male   ┆ … ┆ 11   ┆ null ┆ Montreal, PQ / ┆ -40.109272     │
│        ┆          ┆ Master. Hudson  ┆        ┆   ┆      ┆      ┆ Chesterville,  ┆                │
│        ┆          ┆ Trevor          ┆        ┆   ┆      ┆      ┆ O…             ┆                │
│ 1      ┆ 0        ┆ Allison, Miss.  ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ / ┆ -35.037594     │
│        ┆          ┆ Helen Loraine   ┆        ┆   ┆      ┆      ┆ Chesterville,  ┆                │
│        ┆          ┆                 ┆        ┆   ┆      ┆      ┆ O…             ┆                │
│ 1      ┆ 0        ┆ Allison, Mr.    ┆ male   ┆ … ┆ null ┆ 135  ┆ Montreal, PQ / ┆ -11.029272     │
│        ┆          ┆ Hudson Joshua   ┆        ┆   ┆      ┆      ┆ Chesterville,  ┆                │
│        ┆          ┆ Cre…            ┆        ┆   ┆      ┆      ┆ O…             ┆                │
│ 1      ┆ 0        ┆ Allison, Mrs.   ┆ female ┆ … ┆ null ┆ null ┆ Montreal, PQ / ┆ -12.037594     │
│        ┆          ┆ Hudson J C      ┆        ┆   ┆      ┆      ┆ Chesterville,  ┆                │
│        ┆          ┆ (Bess…          ┆        ┆   ┆      ┆      ┆ O…             ┆                │
│ …      ┆ …        ┆ …               ┆ …      ┆ … ┆ …    ┆ …    ┆ …              ┆ …              │
│ 3      ┆ 0        ┆ Zabour, Miss.   ┆ female ┆ … ┆ null ┆ 328  ┆ null           ┆ -7.685329      │
│        ┆          ┆ Hileni          ┆        ┆   ┆      ┆      ┆                ┆                │
│ 3      ┆ 0        ┆ Zabour, Miss.   ┆ female ┆ … ┆ null ┆ null ┆ null           ┆ null           │
│        ┆          ┆ Thamine         ┆        ┆   ┆      ┆      ┆                ┆                │
│ 3      ┆ 0        ┆ Zakarian, Mr.   ┆ male   ┆ … ┆ null ┆ 304  ┆ null           ┆ 0.537736       │
│        ┆          ┆ Mapriededer     ┆        ┆   ┆      ┆      ┆                ┆                │
│ 3      ┆ 0        ┆ Zakarian, Mr.   ┆ male   ┆ … ┆ null ┆ null ┆ null           ┆ 1.037736       │
│        ┆          ┆ Ortin           ┆        ┆   ┆      ┆      ┆                ┆                │
│ 3      ┆ 0        ┆ Zimmerman, Mr.  ┆ male   ┆ … ┆ null ┆ null ┆ null           ┆ 3.037736       │
│        ┆          ┆ Leo             ┆        ┆   ┆      ┆      ┆                ┆                │
└────────┴──────────┴─────────────────┴────────┴───┴──────┴──────┴────────────────┴────────────────┘

In [8]:
df = pl.DataFrame(
    {
        "occupation": [
            "Sales",
            "DataScientist",
            "Engineer",
            "Sales",
            "Engineer",
            "Engineer",
            "Sales",
            "Engineer",
            "DataScientist",
            "Sales"
        ],
        "annual_income": [700, 550, 1000, 450, 500, 650, 550, 400, 600, 900],
    }
)
df

shape: (10, 2)
┌───────────────┬───────────────┐
│ occupation    ┆ annual_income │
│ ---           ┆ ---           │
│ str           ┆ i64           │
╞═══════════════╪═══════════════╡
│ Sales         ┆ 700           │
│ DataScientist ┆ 550           │
│ Engineer      ┆ 1000          │
│ Sales         ┆ 450           │
│ Engineer      ┆ 500           │
│ Engineer      ┆ 650           │
│ Sales         ┆ 550           │
│ Engineer      ┆ 400           │
│ DataScientist ┆ 600           │
│ Sales         ┆ 900           │
└───────────────┴───────────────┘

In [9]:
df.with_columns(
    pl.col('annual_income')
    .sort_by('annual_income', descending=True)
    .head(3)
    .over('occupation', mapping_strategy='join')
    .alias('annual_income_top3')
)

shape: (10, 3)
┌───────────────┬───────────────┬────────────────────┐
│ occupation    ┆ annual_income ┆ annual_income_top3 │
│ ---           ┆ ---           ┆ ---                │
│ str           ┆ i64           ┆ list[i64]          │
╞═══════════════╪═══════════════╪════════════════════╡
│ Sales         ┆ 700           ┆ [900, 700, 550]    │
│ DataScientist ┆ 550           ┆ [600, 550]         │
│ Engineer      ┆ 1000          ┆ [1000, 650, 500]   │
│ Sales         ┆ 450           ┆ [900, 700, 550]    │
│ Engineer      ┆ 500           ┆ [1000, 650, 500]   │
│ Engineer      ┆ 650           ┆ [1000, 650, 500]   │
│ Sales         ┆ 550           ┆ [900, 700, 550]    │
│ Engineer      ┆ 400           ┆ [1000, 650, 500]   │
│ DataScientist ┆ 600           ┆ [600, 550]         │
│ Sales         ┆ 900           ┆ [900, 700, 550]    │
└───────────────┴───────────────┴────────────────────┘

In [10]:
df.sort('occupation').select(
    pl.col('occupation').head(3).over('occupation', mapping_strategy='explode'),
    pl.col('annual_income')
    .sort_by('annual_income', descending=True)
    .head(3)
    .over('occupation', mapping_strategy='explode')
)

shape: (8, 2)
┌───────────────┬───────────────┐
│ occupation    ┆ annual_income │
│ ---           ┆ ---           │
│ str           ┆ i64           │
╞═══════════════╪═══════════════╡
│ DataScientist ┆ 600           │
│ DataScientist ┆ 550           │
│ Engineer      ┆ 1000          │
│ Engineer      ┆ 650           │
│ Engineer      ┆ 500           │
│ Sales         ┆ 900           │
│ Sales         ┆ 700           │
│ Sales         ┆ 550           │
└───────────────┴───────────────┘

In [11]:
df = pl.read_csv('transactions.csv')
df

shape: (240, 3)
┌────────────┬─────────────┬────────┐
│ year_month ┆ customer_id ┆ amount │
│ ---        ┆ ---         ┆ ---    │
│ str        ┆ i64         ┆ i64    │
╞════════════╪═════════════╪════════╡
│ 2023-01    ┆ 1           ┆ 960    │
│ 2023-01    ┆ 2           ┆ 6331   │
│ 2023-01    ┆ 3           ┆ 1284   │
│ 2023-01    ┆ 4           ┆ 1075   │
│ 2023-01    ┆ 5           ┆ 746    │
│ …          ┆ …           ┆ …      │
│ 2023-12    ┆ 16          ┆ 2775   │
│ 2023-12    ┆ 17          ┆ 763    │
│ 2023-12    ┆ 18          ┆ 1391   │
│ 2023-12    ┆ 19          ┆ 5785   │
│ 2023-12    ┆ 20          ┆ 6490   │
└────────────┴─────────────┴────────┘

In [12]:
df = df.with_columns(
    pl.col('year_month')
    .str.to_datetime('%Y-%m')
).sort('year_month')
df

shape: (240, 3)
┌─────────────────────┬─────────────┬────────┐
│ year_month          ┆ customer_id ┆ amount │
│ ---                 ┆ ---         ┆ ---    │
│ datetime[μs]        ┆ i64         ┆ i64    │
╞═════════════════════╪═════════════╪════════╡
│ 2023-01-01 00:00:00 ┆ 1           ┆ 960    │
│ 2023-01-01 00:00:00 ┆ 2           ┆ 6331   │
│ 2023-01-01 00:00:00 ┆ 3           ┆ 1284   │
│ 2023-01-01 00:00:00 ┆ 4           ┆ 1075   │
│ 2023-01-01 00:00:00 ┆ 5           ┆ 746    │
│ …                   ┆ …           ┆ …      │
│ 2023-12-01 00:00:00 ┆ 16          ┆ 2775   │
│ 2023-12-01 00:00:00 ┆ 17          ┆ 763    │
│ 2023-12-01 00:00:00 ┆ 18          ┆ 1391   │
│ 2023-12-01 00:00:00 ┆ 19          ┆ 5785   │
│ 2023-12-01 00:00:00 ┆ 20          ┆ 6490   │
└─────────────────────┴─────────────┴────────┘

In [13]:
df = df.with_columns(
    pl.col('amount').cum_sum().over('customer_id').alias('cumlative_amount')
)
df

shape: (240, 4)
┌─────────────────────┬─────────────┬────────┬──────────────────┐
│ year_month          ┆ customer_id ┆ amount ┆ cumlative_amount │
│ ---                 ┆ ---         ┆ ---    ┆ ---              │
│ datetime[μs]        ┆ i64         ┆ i64    ┆ i64              │
╞═════════════════════╪═════════════╪════════╪══════════════════╡
│ 2023-01-01 00:00:00 ┆ 1           ┆ 960    ┆ 960              │
│ 2023-01-01 00:00:00 ┆ 2           ┆ 6331   ┆ 6331             │
│ 2023-01-01 00:00:00 ┆ 3           ┆ 1284   ┆ 1284             │
│ 2023-01-01 00:00:00 ┆ 4           ┆ 1075   ┆ 1075             │
│ 2023-01-01 00:00:00 ┆ 5           ┆ 746    ┆ 746              │
│ …                   ┆ …           ┆ …      ┆ …                │
│ 2023-12-01 00:00:00 ┆ 16          ┆ 2775   ┆ 42021            │
│ 2023-12-01 00:00:00 ┆ 17          ┆ 763    ┆ 48928            │
│ 2023-12-01 00:00:00 ┆ 18          ┆ 1391   ┆ 43326            │
│ 2023-12-01 00:00:00 ┆ 19          ┆ 5785   ┆ 43461            │
│ 2023-12-01 00:00:00 ┆ 20          ┆ 6490   ┆ 51494            │
└─────────────────────┴─────────────┴────────┴──────────────────┘

In [14]:
df.sort(['customer_id', 'year_month'])

shape: (240, 4)
┌─────────────────────┬─────────────┬────────┬──────────────────┐
│ year_month          ┆ customer_id ┆ amount ┆ cumlative_amount │
│ ---                 ┆ ---         ┆ ---    ┆ ---              │
│ datetime[μs]        ┆ i64         ┆ i64    ┆ i64              │
╞═════════════════════╪═════════════╪════════╪══════════════════╡
│ 2023-01-01 00:00:00 ┆ 1           ┆ 960    ┆ 960              │
│ 2023-02-01 00:00:00 ┆ 1           ┆ 5490   ┆ 6450             │
│ 2023-03-01 00:00:00 ┆ 1           ┆ 5326   ┆ 11776            │
│ 2023-04-01 00:00:00 ┆ 1           ┆ 5291   ┆ 17067            │
│ 2023-05-01 00:00:00 ┆ 1           ┆ 3872   ┆ 20939            │
│ …                   ┆ …           ┆ …      ┆ …                │
│ 2023-08-01 00:00:00 ┆ 20          ┆ 2877   ┆ 31645            │
│ 2023-09-01 00:00:00 ┆ 20          ┆ 5891   ┆ 37536            │
│ 2023-10-01 00:00:00 ┆ 20          ┆ 1833   ┆ 39369            │
│ 2023-11-01 00:00:00 ┆ 20          ┆ 5635   ┆ 45004            │
│ 2023-12-01 00:00:00 ┆ 20          ┆ 6490   ┆ 51494            │
└─────────────────────┴─────────────┴────────┴──────────────────┘

In [15]:
df = pl.read_csv('transactions.csv')

df = df.with_columns(
    pl.col('year_month')
    .str.to_datetime('%Y-%m')
).sort('year_month')

df_cumlative = df.with_columns(
    pl.col('amount').cum_count().over('customer_id').alias('cumlative_count')  # amount以外でも結果は変わらない
)
df_cumlative.sort(['customer_id', 'year_month'])

shape: (240, 4)
┌─────────────────────┬─────────────┬────────┬─────────────────┐
│ year_month          ┆ customer_id ┆ amount ┆ cumlative_count │
│ ---                 ┆ ---         ┆ ---    ┆ ---             │
│ datetime[μs]        ┆ i64         ┆ i64    ┆ u32             │
╞═════════════════════╪═════════════╪════════╪═════════════════╡
│ 2023-01-01 00:00:00 ┆ 1           ┆ 960    ┆ 1               │
│ 2023-02-01 00:00:00 ┆ 1           ┆ 5490   ┆ 2               │
│ 2023-03-01 00:00:00 ┆ 1           ┆ 5326   ┆ 3               │
│ 2023-04-01 00:00:00 ┆ 1           ┆ 5291   ┆ 4               │
│ 2023-05-01 00:00:00 ┆ 1           ┆ 3872   ┆ 5               │
│ …                   ┆ …           ┆ …      ┆ …               │
│ 2023-08-01 00:00:00 ┆ 20          ┆ 2877   ┆ 8               │
│ 2023-09-01 00:00:00 ┆ 20          ┆ 5891   ┆ 9               │
│ 2023-10-01 00:00:00 ┆ 20          ┆ 1833   ┆ 10              │
│ 2023-11-01 00:00:00 ┆ 20          ┆ 5635   ┆ 11              │
│ 2023-12-01 00:00:00 ┆ 20          ┆ 6490   ┆ 12              │
└─────────────────────┴─────────────┴────────┴─────────────────┘

In [16]:
df = pl.read_csv('titanic.csv')
df

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [17]:
df.pivot(
    values='survived',
    index='sex',
    on='pclass',
    aggregate_function='mean'
)

shape: (2, 4)
┌────────┬──────────┬──────────┬──────────┐
│ sex    ┆ 1        ┆ 2        ┆ 3        │
│ ---    ┆ ---      ┆ ---      ┆ ---      │
│ str    ┆ f64      ┆ f64      ┆ f64      │
╞════════╪══════════╪══════════╪══════════╡
│ female ┆ 0.965278 ┆ 0.886792 ┆ 0.490741 │
│ male   ┆ 0.340782 ┆ 0.146199 ┆ 0.15213  │
└────────┴──────────┴──────────┴──────────┘

In [18]:
df.pivot(
    values='survived',
    index='sex',
    on='pclass',
    aggregate_function='len'
)

shape: (2, 4)
┌────────┬─────┬─────┬─────┐
│ sex    ┆ 1   ┆ 2   ┆ 3   │
│ ---    ┆ --- ┆ --- ┆ --- │
│ str    ┆ u32 ┆ u32 ┆ u32 │
╞════════╪═════╪═════╪═════╡
│ female ┆ 144 ┆ 106 ┆ 216 │
│ male   ┆ 179 ┆ 171 ┆ 493 │
└────────┴─────┴─────┴─────┘

In [19]:
df.pivot(
    values='survived',
    index='sex',
    on='pclass',
    aggregate_function='sum'
)

shape: (2, 4)
┌────────┬─────┬─────┬─────┐
│ sex    ┆ 1   ┆ 2   ┆ 3   │
│ ---    ┆ --- ┆ --- ┆ --- │
│ str    ┆ i64 ┆ i64 ┆ i64 │
╞════════╪═════╪═════╪═════╡
│ female ┆ 139 ┆ 94  ┆ 106 │
│ male   ┆ 61  ┆ 25  ┆ 75  │
└────────┴─────┴─────┴─────┘

In [20]:
aggregate_function = lambda col: col.mean()

(
    df.lazy()
    .group_by(pl.col("sex"))
    .agg(
        [
            aggregate_function(
                pl.col("survived").filter(pl.col("pclass") == value)
            ).alias(str(value))
            for value in [1, 2, 3]
        ]
    )
    .collect()
)

shape: (2, 4)
┌────────┬──────────┬──────────┬──────────┐
│ sex    ┆ 1        ┆ 2        ┆ 3        │
│ ---    ┆ ---      ┆ ---      ┆ ---      │
│ str    ┆ f64      ┆ f64      ┆ f64      │
╞════════╪══════════╪══════════╪══════════╡
│ female ┆ 0.965278 ┆ 0.886792 ┆ 0.490741 │
│ male   ┆ 0.340782 ┆ 0.146199 ┆ 0.15213  │
└────────┴──────────┴──────────┴──────────┘